// Сюда стили

// styles
@import "./plugins/bootstrap.css";

@import 'styles';

@import "~owl.carousel/src/scss/owl.carousel";
@import "~owl.carousel/src/scss/owl.theme.default";

@import "./plugins/daterangepicker.css";

@import 'responsive';

@import "./plugins/bootstrap-slider.css";
@import "./plugins/simplebar.css";
@import "./plugins/suggestions.css";
@import "~@fancyapps/fancybox/dist/jquery.fancybox.min.css";

.city-panel {
  display: unset;
}
header .top-block__city-option {
  display: unset;
}
