<template>
  <yandex-map
    :coords="coords"
    :zoom="zoom"
    class="map"
    @map-was-initialized="initMapHandler"
  />
</template>

<script>
    import yandexMap from 'vue-yandex-maps';

    export default {
        components: {
            yandexMap
        },
        props: {
            addresses: {
                required: true,
                type: Array
            },
            carousel: {
                default: false,
                type: Boolean
            },
            modal: {
                default: false,
                type: Boolean
            }
        },
        data: () => ({
            coords: ['55.584222', '37.385529'],
            zoom: 7,
            modalViewed: false
        }),
        computed: {},
        mounted() {
            if (this.carousel) {
                this.$bus.$on('addressCarouselClick', (id) => {
                    this.openBalloon(id)
                });
            }
            if (this.modal) {
                $('#map-modal').on('shown.bs.modal', (e) => {
                    if (!this.modalViewed) {
                        this.modalViewed = true
                        this.setBounds()
                    }
                })
            }
        },
        methods: {
            initMapHandler(map) {
                this.map = map

                if (this.addresses.length === 0) {
                    return;
                }

                var MyBalloonLayout = ymaps.templateLayoutFactory.createClass(
                    '<div class="adres-popover">' +
                    '$[[options.contentLayout observeSize minWidth=200 maxWidth=200]]' +
                    '</div>', {
                        build: function () {
                            this.constructor.superclass.build.call(this);
                            this._$element = $('.adres-popover', this.getParentElement());
                            this.applyElementOffset();
                            this._$element.find('.close')
                                .on('click', $.proxy(this.onCloseClick, this));
                        },
                        clear: function () {
                            this._$element.find('.close')
                                .off('click');
                            this.constructor.superclass.clear.call(this);
                        },
                        onSublayoutSizeChange: function () {
                            MyBalloonLayout.superclass.onSublayoutSizeChange.apply(this, arguments);
                            if (!this._isElement(this._$element)) {
                                return;
                            }
                            this.applyElementOffset();
                            this.events.fire('shapechange');
                        },
                        applyElementOffset: function () {
                            this._$element.css({
                                marginLeft: -146,
                                bottom: 35,
                                position: 'absolute'
                            });
                        },
                        onCloseClick: function (e) {
                            e.preventDefault();
                            this.events.fire('userclose');
                        },
                        getShape: function () {
                            if (!this._isElement(this._$element)) {
                                return MyBalloonLayout.superclass.getShape.call(this);
                            }
                            var position = this._$element.position();
                            return new ymaps.shape.Rectangle(new ymaps.geometry.pixel.Rectangle([
                                [position.left, position.top], [
                                    position.left + this._$element[0].offsetWidth,
                                    position.top + this._$element[0].offsetHeight + this._$element.find('.arrow')[0].offsetHeight
                                ]
                            ]));
                        },
                        _isElement: function (element) {
                            return element && element[0] && element.find('.arrow')[0];
                        }
                    })

                var MyBalloonContentLayout = ymaps.templateLayoutFactory.createClass(
                    '$[properties.address]$[properties.events]'
                )

                ymaps.option.presetStorage.add('map#close', {
                    iconLayout: 'default#imageWithContent',
                    iconImageHref: '/images/icons/map-point.svg',
                    balloonLayout: MyBalloonLayout,
                    balloonContentLayout: MyBalloonContentLayout,
                    iconImageOffset: [-24, -24],
                    iconContentOffset: [15, 15],
                    iconImageSize: [22, 30],
                    balloonShadow: false
                });

                ymaps.option.presetStorage.add('map#open', {
                    iconLayout: 'default#imageWithContent',
                    iconImageHref: '/images/icons/map-point-open.svg',
                    balloonLayout: MyBalloonLayout,
                    balloonContentLayout: MyBalloonContentLayout,
                    iconImageOffset: [-24, -24],
                    iconContentOffset: [15, 15],
                    iconImageSize: [22, 30],
                    balloonShadow: false
                });

                this.placemarks = this.addresses.reduce(function (res, a, index, arr) {
                    res.push(new ymaps.Placemark([a.lat, a.long], {
                        id: a.id,
                        address: a.address,
                        events: a.events ? a.events.reduce(function (ress, aa, indexx, arrr) {
                            ress = `<br><br>${aa.name}<br><br><a style="font-size: 11px;" href="${aa.event_url}">Подробнее</a>`
                            return ress;
                        }, '') : ''
                    }, {
                        preset: 'map#close'
                    }))
                    return res;
                }, [])

                var clusterer = new ymaps.Clusterer({preset: 'islands#blueCircleIcon'}).add(this.placemarks)
                map.geoObjects.add(clusterer)

                clusterer.events.add('balloonopen', (e) => {
                    var target = e.get('target');
                    if (target.geometry && typeof target.getGeoObjects) {
                        ymaps.geoQuery(this.placemarks).setOptions('preset', 'map#close')
                        var id = target.properties.get('id')
                        if (this.carousel) {
                            this.$bus.$emit('mapSelectId', id)
                        }
                        this.placemarks.forEach((placemark) => {
                            if (placemark.properties.get('id') === id) {
                                ymaps.geoQuery(placemark).setOptions('preset', 'map#open')
                                this.map.panTo(placemark.geometry.getCoordinates())
                                    .then(function () {
                                    }, function (err) {
                                        alert('Произошла ошибка ' + err);
                                    }, this);
                            }
                        })
                    }
                });

                this.setBounds()
            },
            setBounds() {
                this.map.setBounds(this.map.geoObjects.getBounds(), {checkZoomRange: true})
            },
            openBalloon(id) {
                if (this.carousel) {
                    this.$bus.$emit('mapSelectId', id)
                }
                this.placemarks.forEach((placemark) => {
                    if (placemark.properties.get('id') === id) {
                        this.map.panTo(placemark.geometry.getCoordinates())
                            .then(function () {
                                placemark.balloon.open()
                            }, function (err) {
                                alert('Произошла ошибка ' + err);
                            }, this);
                    }
                })
            }
        }
    }
</script>

<style>
    .ymap-container {
        height: 100%;
    }
</style>
