<template>
  <div class="owl-carousel owl-map-points">
    <template v-for="address in addresses">
      <div
        class="map-point"
        :class="{'active': active === address.id}"
        @click="$bus.$emit('addressCarouselClick', address.id)"
      >
        <div class="map-point__top" />
        <div class="map-point__adres">
          {{ address.address }}
        </div>
        <div class="map-point__time">
          {{ address.work }}
        </div>
        <div class="map-point__phone">
          <a :href="address.phone">{{ address.phone }}</a>
        </div>
        <div class="map-point__site">
          <a target="_blank" :href="address.site">{{ address.site }}</a>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
    export default {
        props: [
            'addresses'
        ],
        data: () => ({
          active: null
        }),
        computed: {},
        mounted() {
          var owl = $('.owl-carousel');
          owl.owlCarousel({
            margin: 50,
            nav: true,
            navText: ["", "<img src='/images/icons/right.svg'>"],
            dots: true,
            responsive: {
              0: {
                items: 1
              },
              768: {
                items: 3
              },
              1000: {
                items: 3
              }
            }
          });

          owl.on('change.owl.carousel', function (e) {
            var totalPageNumber = e.page.count;
            var currentPageNumber = e.page.index + 1;
            if (currentPageNumber === totalPageNumber - 1) {
              $('.map-shadow').hide();
            } else {
              $('.map-shadow').show();
            }
          });

          this.$bus.$on('mapSelectId', (id) => {
            this.active = id
          });
        },
        methods: {}
    }
</script>

<style>
</style>
