<template>
  <form :class="{'not-selected': notSelected}">
    <input
      id="thumb-rating-2"
      class="thumb-rating__input down"
      type="radio"
      name="rating"
      value="2"
      :checked="recommendation === 0"
      :disabled="!notSelected"
    >
    <label
      class="thumb-rating__ico down"
      for="thumb-rating-2"
      title="Не нравится"
      @click="click(0)"
    />
    <input
      id="thumb-rating-1"
      class="thumb-rating__input up"
      type="radio"
      name="rating"
      value="1"
      :checked="recommendation === 1"
      :disabled="!notSelected"
    >
    <label
      class="thumb-rating__ico up"
      for="thumb-rating-1"
      title="Нравится"
      @click="click(1)"
    />
  </form>
</template>

<script>
    let str = window.location.pathname
    let res = str.split("/")

    export default {
        props: {
            userRecommendation: {
                type: Object,
                default: null
            }
        },
        data() {
            return {
                selectedRecommendation: null
            }
        },
        computed: {
            recommendation() {
                return this.selectedRecommendation ? this.selectedRecommendation : this.userRecommendation ? this.userRecommendation.bool : null
            },
            notSelected() {
                return !this.recommendation
            }
        },
        methods: {
            click(bool) {
                if (!Laravel.user) {
                    location.replace(`/login`)
                }
                if (this.selectedRecommendation == null) {
                    this.selectedRecommendation = bool
                    axios.post(`/api/frontend/company/${res[2]}/recommendation`, {bool: bool})
                        .then(response => {

                        })
                        .catch(error => {

                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>
