<template>
  <a-layout :style="{ minHeight: '100%' }">
    <a-layout-content :style="{ margin: '24px 16px', padding: '24px', background: '#fff' }">
      <b-alert
        :show="alert"
        variant="danger"
        dismissible
      >
        <template v-for="error in errors">
          <template v-for="message in error">
            {{ message }}<br>
          </template>
        </template>
      </b-alert>
      <a-tabs>
        <a-tab-pane
          key="1"
          tab="Основная информация"
        >
          <a-form layout="vertical">
            <br>
            <a-form-item
              label="Название"
              :validate-status="errors.name ? 'error' : ''"
              :help="errors.name ? errors.name[0] : ''"
            >
              <a-input
                v-model="tile.name"
                placeholder="Рейтинг ресторанов"
              />
            </a-form-item>

            <a-form-item
              label="Краткое описание"
              :validate-status="errors.summary ? 'error' : ''"
              :help="errors.summary ? errors.summary[0] : 'Для перевода каретки на новую строку нажмите Shift+Enter'"
            >
              <a-textarea
                id="summary"
                v-model="tile.summary"
              />
            </a-form-item>

            <a-form-item
                    label="Город размещения"
            >
              <select-single
                      v-model="tile.city"
                      :data="cities"
                      placeholder="Выберите город размещения"
              />
            </a-form-item>

            <a-form-item
              label="Сборка"
            >
              <a-select
                v-model="tile.selection.name"
                show-search
                placeholder="Выберите сборку"
                option-filter-prop="children"
                style="width: 100%"
                :filter-option="filterOption"
                @change="handleChange"
              >
                <template v-for="selection in selections">
                  <a-select-option :value="selection.name">
                    {{ selection.name }}
                  </a-select-option>
                </template>
              </a-select>
            </a-form-item>
          </a-form>
        </a-tab-pane>

        <div slot="tabBarExtraContent">
          <a-button
            v-if="tile.id"
            type="danger"
            :disabled="loading"
            @click="destroy"
          >
            Удалить
          </a-button>
          <a-button
            :disabled="loading"
            @click="tile.id ? update() : create()"
          >
            Сохранить
          </a-button>
        </div>
      </a-tabs>
    </a-layout-content>
  </a-layout>
</template>
<script>
    let str = window.location.pathname
    let res = str.split("/")

    export default {
        data() {
            return {
                selections: [],
                cities: [],
                tile: {
                    image: {},
                    selection: {},
                    city: {}
                },
                errors: {},
                loading: false,
                alert: false
            };
        },
        watch: {
            errors: function (val) {
                this.alert = Object.keys(val).length > 0
            }
        },
        mounted() {
            if (res[4] === 'edit') {
                this.fetch()
            }
            this.fetchSelections()
            this.fetchCities()
        },
        methods: {
            fetch() {
                if (!this.loading) {
                    this.loading = true
                    const message = this.$message.loading('Загрузка данных', 0)
                    axios.get(`/api/backend/tile/${res[3]}`)
                        .then(response => {
                            this.tile = response.data
                        })
                        .catch(error => {
                            this.$message.error('Ошибка')
                        })
                        .then(() => {
                            setTimeout(message, 0)
                            this.loading = false
                        })
                }

            },
            update() {
                if (!this.loading) {
                    this.loading = true
                    const message = this.$message.loading('Сохранение', 0)
                    axios.put(`/api/backend/tile/${res[3]}`, this.tile)
                        .then(response => {
                            this.errors = {}
                            this.tile = response.data
                            this.$message.success('Успешно сохранено!')
                        })
                        .catch(error => {
                            this.$message.error('Ошибка')
                            this.errors = error.response.data.errors
                        })
                        .then(() => {
                            setTimeout(message, 0)
                            this.loading = false
                        })
                }
            },
            create() {
                if (!this.loading) {
                    this.loading = true
                    const message = this.$message.loading('Сохранение', 0)
                    axios.post(`/api/backend/tile`, this.tile)
                        .then(response => {
                            this.errors = {}
                            this.tileLabel = response.data
                            this.$message.success('Успешно сохранено!')
                            location.href = `/admin/tile/${response.data.id}/edit`
                        })
                        .catch(error => {
                            this.$message.error('Ошибка')
                            this.errors = error.response.data.errors
                        })
                        .then(() => {
                            setTimeout(message, 0)
                            this.loading = false
                        })
                }
            },
            destroy() {
                if (!this.loading) {
                    this.loading = true
                    const message = this.$message.loading('Сохранение', 0)
                    swal({
                        title: "Вы уверены?",
                        text: "Это необратимый процесс!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                axios.delete(`/api/backend/tile/${res[3]}`)
                                    .then(response => {
                                        location.replace(`/admin/tile/${res[3]}/edit`)
                                    })
                                    .catch(error => {
                                        this.errors = error.response.data.errors
                                        this.$message.error('Ошибка')
                                    })
                            }
                        })
                        .then(() => {
                            setTimeout(message, 0)
                            this.loading = false
                        })
                }
            },
            fetchSelections() {
                this.loading = true
                const message = this.$message.loading('Загрузка данных', 0)
                axios.get(`/api/backend/selection/all`)
                    .then(response => {
                        this.selections = response.data
                    })
                    .catch(error => {
                        this.$message.error('Ошибка')
                    })
                    .then(() => {
                        setTimeout(message, 0)
                        this.loading = false
                    })
            },
            handleChange(value) {
                this.tile.selection = this.selections.filter((item) => {
                    return item.name === value;
                })[0];
            },
            filterOption(input, option) {
                return option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
            },
            fetchCities() {
                const message = this.$message.loading('Загрузка данных', 0)
                axios.get(`/api/backend/city/all`)
                    .then(response => {
                        this.cities = response.data
                    })
                    .catch(error => {
                        this.$message.error('Ошибка')
                    })
                    .then(() => {
                        setTimeout(message, 0)
                    })
            },
        }
    };
</script>

<style scoped>
</style>
