<template>
  <div>
    <a-button
      type="primary"
      style="margin-bottom: 15px;"
      @click.prevent="handleAdd"
    >
      Добавить
      новый
    </a-button>
    <a-table
      :columns="columns"
      :data-source="value"
      :scroll="{ x: 1300 }"
      size="small"
    >
      <div
        slot="action"
        slot-scope="text, record"
      >
        <a
          @click.prevent="handleEdit(record)"
        >
          <a-icon type="edit" />
        </a>
        <a
          @click.prevent="handleDelete(record)"
        >
          <a-icon type="delete" />
        </a>
      </div>
    </a-table>
    <a-modal
      title="Добавить адрес"
      :visible="addVisible"
      @ok="handleOk"
      @cancel="addVisible = false"
    >
      <company-addresses-form :address="address" />
    </a-modal>
  </div>
</template>

<script>
    let str = window.location.pathname
    let res = str.split("/")

    const columns = [
        {title: 'ID', dataIndex: 'id', key: 'id'},
        {title: 'Город', dataIndex: 'city.name', key: 'city.name'},
        {title: 'Адрес', dataIndex: 'address', key: 'address'},
        {title: 'График работы', dataIndex: 'work', key: 'work'},
        {title: 'Сайт', dataIndex: 'site', key: 'site'},
        {
            key: 'operation',
            fixed: 'right',
            width: 100,
            scopedSlots: {customRender: 'action'},
        },
    ];

    export default {
        props: {
            value: {
                type: Array,
                default: () => ([])
            }
        },
        data() {
            return {
                columns,
                res: res,
                addVisible: false,
                address: {}
            }
        },
        mounted() {
        },
        methods: {
            handleAdd() {
                this.address = {
                    lat: null,
                    long: null,
                    address: null,
                    city: {
                        name: null,
                        lat: null,
                        long: null
                    }
                }
                this.addVisible = true
            },
            handleEdit(address) {
                this.address = address
                this.addVisible = true
            },
            handleDelete(address) {
                var index = this.value.indexOf(address);
                if (index > -1) {
                    this.value.splice(index, 1);
                }
            },
            handleOk() {
                if (this.value.indexOf(this.address) == -1) {
                    this.$emit('input', [...this.value, this.address])
                }

                this.addVisible = false
                this.address = {}
            }
        }
    }
</script>

<style scoped>

</style>
