<template>
  <div class="container">
    <div class="card-header px-0 mt-2 bg-transparent clearfix">
      <h4 class="float-left pt-2">
        Roles
      </h4>
      <div class="card-header-actions mr-1">
        <a
          class="btn btn-success"
          href="/admin/roles/create"
        >New role</a>
      </div>
    </div>
    <div class="card-body px-0">
      <div class="row justify-content-between">
        <div class="col-7 col-md-5">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span
                class="input-group-text"
                @click="filter"
              >
                <i class="fas fa-search" />
              </span>
            </div>
            <input
              v-model.trim="filters.search"
              type="text"
              class="form-control"
              placeholder="Seach"
              @keyup.enter="filter"
            >
          </div>
        </div>
        <div class="col-auto">
          <multiselect
            v-model="filters.pagination.per_page"
            :options="[25,50,100,200]"
            :searchable="false"
            :show-labels="false"
            :allow-empty="false"
            placeholder="Search"
            @select="changeSize"
          />
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="d-none d-sm-table-cell">
              <a
                href="#"
                class="text-dark"
                @click.prevent="sort('id')"
              >ID</a>
              <i
                class="ml-1 fas"
                :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'id' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'id' && filters.orderBy.direction == 'desc'}"
              />
            </th>
            <th>
              <a
                href="#"
                class="text-dark"
                @click.prevent="sort('display_name')"
              >Role</a>
              <i
                class="ml-1 fas"
                :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'display_name' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'display_name' && filters.orderBy.direction == 'desc'}"
              />
            </th>
            <th class="d-none d-sm-table-cell">
              <a
                href="#"
                class="text-dark"
                @click.prevent="sort('name')"
              >Slug</a>
              <i
                class="ml-1 fas"
                :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'name' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'name' && filters.orderBy.direction == 'desc'}"
              />
            </th>
            <th>Users using</th>
            <th>Permissions</th>
            <th class="d-none d-sm-table-cell">
              <a
                href="#"
                class="text-dark"
                @click.prevent="sort('created_at')"
              >Created</a>
              <i
                class="ml-1 fas"
                :class="{'fa-long-arrow-alt-down': filters.orderBy.column == 'created_at' && filters.orderBy.direction == 'asc', 'fa-long-arrow-alt-up': filters.orderBy.column == 'created_at' && filters.orderBy.direction == 'desc'}"
              />
            </th>
            <th class="d-none d-sm-table-cell" />
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="role in roles"
            @click="editRole(role.id)"
          >
            <td class="d-none d-sm-table-cell">
              {{ role.id }}
            </td>
            <td>{{ role.display_name }}</td>
            <td class="d-none d-sm-table-cell">
              {{ role.name }}
            </td>
            <td>
              <div class="avatars-stack">
                <div
                  v-for="(user, index) in role.users.slice(0,4)"
                  class="avatar-sm"
                >
                  <img
                    class="img-avatar"
                    :src="user.avatar_url"
                  >
                </div>
                <div
                  v-if="role.users.length > 4"
                  class="avatar-sm ml-3"
                >
                  +{{ role.users.length - 4 }}
                </div>
              </div>
            </td>
            <td>
              Level
              <small class="text-muted float-right">{{ role.permissions.length }} of {{ permissionsCount }}</small>
              <div
                class="progress"
                style="height: 4px;"
              >
                <div
                  class="progress-bar bg-info"
                  role="progressbar"
                  :style="`width: ${role.permissions.length*100/permissionsCount}%`"
                  :aria-valuenow="role.permissions.length*100/permissionsCount"
                  aria-valuemin="0"
                  :aria-valuemax="this.permissionsCount"
                />
              </div>
            </td>
            <td class="d-none d-sm-table-cell">
              <small>{{ role.created_at | moment("LL") }}</small> - <small class="text-muted">{{ role.created_at | moment("LT") }}</small>
            </td>
            <td class="d-none d-sm-table-cell">
              <a
                href="#"
                class="text-muted"
              ><i class="fas fa-pencil-alt" /></a>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        v-if="!loading && filters.pagination.total > 0"
        class="row"
      >
        <div class="col pt-2">
          {{ filters.pagination.from }}-{{ filters.pagination.to }} of {{ filters.pagination.total }}
        </div>
        <div
          v-if="filters.pagination.last_page>1"
          class="col"
        >
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">
              <li
                class="page-item"
                :class="{'disabled': filters.pagination.current_page <= 1}"
              >
                <a
                  class="page-link"
                  href="#"
                  @click.prevent="changePage(pagination.current_page - 1)"
                ><i class="fas fa-angle-left" /></a>
              </li>
              <li
                v-for="page in filters.pagination.last_page"
                class="page-item"
                :class="{'active': filters.pagination.current_page == page}"
              >
                <span
                  v-if="filters.pagination.current_page == page"
                  class="page-link"
                >{{ page }}</span>
                <a
                  v-else
                  class="page-link"
                  href="#"
                  @click.prevent="changePage(page)"
                >{{ page }}</a>
              </li>
              <li
                class="page-item"
                :class="{'disabled': filters.pagination.current_page >= filters.pagination.last_page}"
              >
                <a
                  class="page-link"
                  href="#"
                  @click.prevent="changePage(filters.pagination.current_page + 1)"
                ><i class="fas fa-angle-right" /></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div
        v-if="!loading && !roles.length > 0"
        class="no-items-found text-center mt-5"
      >
        <i class="icon-magnifier fa-3x text-muted" />
        <p class="mb-0 mt-3">
          <strong>Could not find any items</strong>
        </p>
        <p class="text-muted">
          Try changing the filters or add a new one
        </p>
        <a
          class="btn btn-success"
          href="/admin/users/create"
          role="button"
        >
          <i class="fa fa-plus" />&nbsp; New Role
        </a>
      </div>
      <content-placeholders v-if="loading">
        <content-placeholders-text />
      </content-placeholders>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      roles: [],
      filters: {
        pagination: {
          from: 0,
          to: 0,
          total: 0,
          per_page: 25,
          current_page: 1,
          last_page: 0
        },
        orderBy: {
          column: 'id',
          direction: 'asc'
        },
        search: ''
      },
      permissionsCount: 0,
      loading: true
    }
  },
  mounted () {
    if (localStorage.getItem("filtersTableRoles")) {
      this.filters = JSON.parse(localStorage.getItem("filtersTableRoles"))
    } else {
      localStorage.setItem("filtersTableRoles", this.filters);
    }
    this.getPermissionsCount()
    this.getRoles()
  },
  methods: {
    getRoles () {
      this.loading = true
      this.roles = []

      localStorage.setItem("filtersTableRoles", JSON.stringify(this.filters));

      axios.post(`/api/roles/filter?page=${this.filters.pagination.current_page}`, this.filters)
      .then(response => {
        this.roles = response.data.data
        delete response.data.data
        this.filters.pagination = response.data
        this.loading = false
      })
    },
    editRole(roleId) {
      location.href = `/admin/roles/${roleId}/edit`
    },
    getPermissionsCount() {
      axios.get(`/api/permissions/count`)
      .then(response => {
        this.permissionsCount = response.data
      })
    },
    // Filters
    filter() {
      this.filters.pagination.current_page = 1
      this.getRoles()
    },
    changeSize (perPage) {
      this.filters.pagination.current_page = 1
      this.filters.pagination.per_page = perPage
      this.getRoles()
    },
    sort (column) {
      if(column == this.filters.orderBy.column) {
        this.filters.orderBy.direction = this.filters.orderBy.direction == 'asc' ? 'desc' : 'asc'
      } else {
        this.filters.orderBy.column = column
        this.filters.orderBy.direction = 'asc'
      }

      this.getRoles()
    },
    changePage (page) {
      this.filters.pagination.current_page = page
      this.getRoles()
    }
  }
}
</script>
