<template>
  <a-layout :style="{ minHeight: '100%' }">
    <a-layout-content :style="{ margin: '24px 16px', padding: '24px', background: '#fff' }">
      <b-alert
        :show="alert"
        variant="danger"
        dismissible
      >
        <template v-for="error in errors">
          <template v-for="message in error">
            {{ message }}<br>
          </template>
        </template>
      </b-alert>
      <a-tabs>
        <a-tab-pane
          key="1"
          tab="Основная информация"
        >
          <a-form layout="vertical">
            <br>
            <a-form-item
              label="Название"
              :validate-status="errors.name ? 'error' : ''"
              :help="errors.name ? errors.name[0] : ''"
            >
              <a-input
                v-model="company.name"
                placeholder="Ресторан Якитория"
              />
            </a-form-item>

            <a-form-item
              label="Сайт"
              :validate-status="errors.url ? 'error' : ''"
              :help="errors.url ? errors.url[0] : ''"
            >
              <a-input
                v-model="company.url"
                placeholder="https://example.com"
              />
            </a-form-item>

            <a-form-item
              label="Краткое описание"
              :validate-status="errors.summary ? 'error' : ''"
              :help="errors.summary ? errors.summary[0] : 'Для перевода каретки на новую строку нажмите Shift+Enter'"
            >
              <a-textarea
                id="summary"
                v-model="company.summary"
              />
            </a-form-item>

            <a-form-item
              label="Полное описание"
              :validate-status="errors.about ? 'error' : ''"
              :help="errors.about ? errors.about[0] : 'Для перевода каретки на новую строку нажмите Shift+Enter'"
            >
              <a-textarea
                id="about"
                v-model="company.about"
              />
            </a-form-item>

            <a-form-item
              label="Категории"
              :validate-status="errors.categories ? 'error' : ''"
              :help="errors.categories ? errors.categories[0] : ''"
            >
              <select-company-categories v-model="company.categories" />
            </a-form-item>
          </a-form>
        </a-tab-pane>
        <a-tab-pane
          key="2"
          tab="SEO"
        >
          <a-form layout="vertical">
            <br>
            <a-form-item
              label="Slug"
              :validate-status="errors.slug ? 'error' : ''"
              :help="errors.slug ? errors.slug[0] : ''"
            >
              <a-input
                v-model="company.slug"
                placeholder="Необязательно"
              />
            </a-form-item>
          </a-form>
        </a-tab-pane>
        <a-tab-pane
          key="3"
          tab="Галерея"
        >
          <a-form layout="vertical">
            <br>

            <a-form-item
              label="Превью"
            >
              <image-upload
                v-model="company.image"
                :width="285"
                :height="350"
              />
            </a-form-item>

            <a-form-item
              label="Фон"
            >
              <image-upload
                v-model="company.background"
                :width="1440"
                :height="750"
              />
            </a-form-item>

            <a-form-item
              label="Медиагалерея"
            >
              <gallery-index v-model="company.gallery_items" />
            </a-form-item>
          </a-form>
        </a-tab-pane>
        <a-tab-pane
          key="4"
          tab="Статус"
        >
          <a-form layout="vertical">
            <br>

            <a-form-item
              label="Одобрен администратором"
            >
              <a-switch
                v-model="company.published"
              />
            </a-form-item>

            <a-form-item
              label="Активен"
            >
              <a-switch
                v-model="company.active"
              />
            </a-form-item>

            <a-form-item
              label="Отклонен"
            >
              <a-switch
                v-model="company.rejected"
              />
            </a-form-item>

            <a-form-item
              v-if="company.rejected"
              label="Причина отклонения"
              :validate-status="errors.message ? 'error' : ''"
              :help="errors.message ? errors.message[0] : ''"
            >
              <a-textarea
                v-model="company.message"
                placeholder="Опишите причину"
              />
            </a-form-item>
          </a-form>
        </a-tab-pane>
        <a-tab-pane
          key="5"
          tab="Адреса"
        >
          <a-form layout="vertical">
            <company-addresses-index v-model="company.addresses" />
          </a-form>
        </a-tab-pane>
        <div slot="tabBarExtraContent">
          <a-button
            v-if="company.id"
            type="danger"
            :disabled="loading"
            @click="destroy"
          >
            Удалить
          </a-button>
          <a-button
            :disabled="loading"
            @click="company.id ? update() : create()"
          >
            Сохранить
          </a-button>
        </div>
      </a-tabs>
    </a-layout-content>
  </a-layout>
</template>
<script>
    import SelectCompanyCategories from "../SelectCompanyCategories";
    let str = window.location.pathname
    let res = str.split("/")

    export default {
        components: {SelectCompanyCategories},
        data() {
            return {
                company: {
                    addresses: [],
                    gallery_items: [],
                    categories: [],
                    published: true,
                    rejected: false,
                    active: true
                },
                errors: {},
                loading: false,
                alert: false
            };
        },
        computed: {},
        watch: {
            errors: function (val) {
                this.alert = Object.keys(val).length > 0
            }
        },
        mounted() {
            if (res[4] === 'edit') {
                this.fetch()
            }
        },
        methods: {
            fetch() {
                if (!this.loading) {
                    this.loading = true
                    const message = this.$message.loading('Загрузка данных', 0)
                    axios.get(`/api/backend/company/${res[3]}`)
                        .then(response => {
                            this.company = response.data
                        })
                        .catch(error => {
                            this.$message.error('Ошибка')
                        })
                        .then(() => {
                            setTimeout(message, 0)
                            this.loading = false
                        })
                }

            },
            update() {
                if (!this.loading) {
                    this.loading = true
                    const message = this.$message.loading('Сохранение', 0)
                    axios.put(`/api/backend/company/${res[3]}`, this.company)
                        .then(response => {
                            this.errors = {}
                            this.company = response.data
                            this.$message.success('Успешно сохранено!')
                        })
                        .catch(error => {
                            this.$message.error('Ошибка')
                            this.errors = error.response.data.errors
                        })
                        .then(() => {
                            setTimeout(message, 0)
                            this.loading = false
                        })
                }
            },
            create() {
                if (!this.loading) {
                    this.loading = true
                    const message = this.$message.loading('Сохранение', 0)
                    axios.post(`/api/backend/company`, this.company)
                        .then(response => {
                            this.errors = {}
                            this.company = response.data
                            this.$message.success('Успешно сохранено!')
                            location.href = `/admin/company/${response.data.slug}/edit`
                        })
                        .catch(error => {
                            this.$message.error('Ошибка')
                            this.errors = error.response.data.errors
                        })
                        .then(() => {
                            setTimeout(message, 0)
                            this.loading = false
                        })
                }
            },
            destroy() {
                if (!this.loading) {
                    this.loading = true
                    const message = this.$message.loading('Сохранение', 0)
                    swal({
                        title: "Вы уверены?",
                        text: "Это необратимый процесс!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                axios.delete(`/api/backend/company/${this.company.slug}`)
                                    .then(response => {
                                        location.replace(`/admin/company`)
                                    })
                                    .catch(error => {
                                        this.errors = error.response.data.errors
                                    })
                            }
                        })
                        .then(() => {
                            setTimeout(message, 0)
                            this.loading = false
                        })
                }
            }
        }
    };
</script>

<style scoped>
</style>
