<template>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9 col-xl-7">
        <div class="card-header px-0 mt-2 bg-transparent clearfix">
          <h4 class="float-left pt-2">
            Edit User
          </h4>
          <div class="card-header-actions mr-1">
            <a
              class="btn btn-primary"
              href="#"
              :disabled="submiting"
              @click.prevent="update"
            >
              <i
                v-if="submiting"
                class="fas fa-spinner fa-spin"
              />
              <i
                v-else
                class="fas fa-check"
              />
              <span class="ml-1">Save</span>
            </a>
            <a
              class="card-header-action ml-1"
              href="#"
              :disabled="submitingDestroy"
              @click.prevent="destroy"
            >
              <i
                v-if="submitingDestroy"
                class="fas fa-spinner fa-spin"
              />
              <i
                v-else
                class="far fa-trash-alt"
              />
              <span class="d-md-down-none ml-1">Delete</span>
            </a>
          </div>
        </div>
        <div class="card-body px-0">
          <div
            v-if="!loading"
            class="row"
          >
            <div class="form-group col-md-9">
              <label>Full Name</label>
              <input
                v-model="user.name"
                type="text"
                class="form-control"
                :class="{'is-invalid': errors.name}"
                placeholder="John Doe"
              >
              <div
                v-if="errors.name"
                class="invalid-feedback"
              >
                {{ errors.name[0] }}
              </div>
            </div>
            <div class="form-group col-md-3">
              <label>ID</label>
              <input
                v-model="user.id"
                class="form-control"
                type="text"
                readonly
              >
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label>Email</label>
                <input
                  v-model="user.email"
                  type="email"
                  class="form-control"
                  :class="{'is-invalid': errors.email}"
                  placeholder="john@modulr.io"
                >
                <div
                  v-if="errors.email"
                  class="invalid-feedback"
                >
                  {{ errors.email[0] }}
                </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input
                  v-model="user.password"
                  type="password"
                  class="form-control"
                  :class="{'is-invalid': errors.password}"
                >
                <div
                  v-if="errors.password"
                  class="invalid-feedback"
                >
                  {{ errors.password[0] }}
                </div>
              </div>
              <div class="form-group">
                <label>Roles</label>
                <multiselect
                  v-model="user.roles"
                  :options="roles"
                  :multiple="true"
                  open-direction="bottom"
                  track-by="id"
                  label="display_name"
                  :class="{'border border-danger rounded': errors.roles}"
                />
                <small
                  v-if="errors.roles"
                  class="form-text text-danger"
                >{{ errors.roles[0] }}</small>
              </div>
              <div class="form-group">
                <label class="col-form-label">Registered</label>
                <p class="form-control-plaintext text-muted">
                  {{ user.created_at | moment("LLL") }}
                </p>
              </div>
            </div>
          </div>
          <div
            v-else
            class="row"
          >
            <div class="col-md-12">
              <content-placeholders>
                <content-placeholders-text />
              </content-placeholders>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      user: {},
      roles: [],
      errors: {},
      loading: true,
      submiting: false,
      submitingDestroy: false
    }
  },
  mounted () {
    this.getRoles()
    this.getUser()
  },
  methods: {
    getUser() {
      this.loading = true
      let str = window.location.pathname
      let res = str.split("/")
      axios.get(`/api/users/getUserRoles/${res[3]}`)
      .then(response => {
        this.user = response.data
      })
      .catch(error => {
        this.$toasted.global.error('User does not exist!')
        location.href = '/admin/users'
      })
      .then(() => {
        this.loading = false
      })
    },
    getRoles () {
      axios.get(`/api/roles/all`)
      .then(response => {
        this.roles = response.data
      })
      .catch(error => {
        this.errors = error.response.data.errors
      })
    },
    update () {
      if (!this.submiting) {
        this.submiting = true
        axios.put(`/api/users/update/${this.user.id}`, this.user)
        .then(response => {
          this.$toasted.global.error('Updated user!')
          location.href = '/admin/users'
        })
        .catch(error => {
          this.errors = error.response.data.errors
          this.submiting = false
        })
      }
    },
    destroy () {
      if (!this.submitingDestroy) {
        this.submitingDestroy = true
        swal({
          title: "Are you sure?",
          text: "Once deleted, you will not be able to recover this user!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        })
        .then((willDelete) => {
          if (willDelete) {
            axios.delete(`/api/users/${this.user.id}`)
            .then(response => {
              this.$toasted.global.error('Deleted user!')
              location.href = '/admin/users'
            })
            .catch(error => {
              this.errors = error.response.data.errors
            })
          }
          this.submitingDestroy = false
        })
      }
    }
  }
}
</script>
