<template>
  <a-form layout="vertical">
    <br>
    <a-form-item>
      <a-select
              show-search
              :value="value"
              placeholder="Начните вводить адрес и выберите подходящий"
              style="width: 100%"
              :default-active-first-option="false"
              :show-arrow="false"
              :filter-option="false"
              :not-found-content="null"
              @search="handleSearchAddress"
              @change="handleChangeAddress"
      >
        <a-select-option
                v-for="d in data"
                :key="d.unrestricted_value"
        >
          {{ d.unrestricted_value }}
        </a-select-option>
      </a-select>
    </a-form-item>

    <a-form-item
            v-if="address.lat && address.long"
    >
      <yandex-map
              :coords="[address.lat, address.long]"
              style="height: 400px"
              @click="onClick"
      >
        <ymap-marker
                marker-id="1"
                marker-type="placemark"
                hint-content="element.hint"
                :coords="[address.lat, address.long]"
        />
      </yandex-map>
    </a-form-item>

    <template v-if="address.lat && address.long">
      <a-form-item
              label="Отображаемый адрес"
              :validate-status="errors.address ? 'error' : ''"
              :help="errors.address ? errors.address[0] : ''"
      >
        <a-input
                v-model="address.address"
                placeholder="Адрес"
        />
      </a-form-item>
      <a-form-item
              v-if="citySelect"
              label="Город"
      >
        <a-select
                show-search
                placeholder="Выберите город"
                option-filter-prop="children"
                style="width: 100%"
                :filter-option="filterOption"
                @change="handleChange"
        >
          <template v-for="city in cities">
            <a-select-option :value="city.name">
              {{ city.name }}
            </a-select-option>
          </template>
        </a-select>
      </a-form-item>
      <a-form-item
              label="Время работы"
              :validate-status="errors.work ? 'error' : ''"
              :help="errors.work ? errors.work[0] : ''"
      >
        <a-input
                v-model="address.work"
                placeholder="График работы"
        />
      </a-form-item>
      <a-form-item
              label="Телефон"
              :validate-status="errors.phone ? 'error' : ''"
              :help="errors.phone ? errors.phone[0] : ''"
      >
        <a-input
                v-model="address.phone"
                placeholder="Телефон"
        />
      </a-form-item>
      <a-form-item
              label="Сайт"
              :validate-status="errors.site ? 'error' : ''"
              :help="errors.site ? errors.site[0] : ''"
      >
        <a-input
                v-model="address.site"
                placeholder="Сайт"
        />
      </a-form-item>
    </template>
  </a-form>
</template>
<script>
    import jsonp from 'fetch-jsonp';
    import querystring from 'querystring';

    let timeout;
    let currentValue;

    let str = window.location.pathname
    let res = str.split("/")

    function fetch(value, callback) {
        if (timeout) {
            clearTimeout(timeout);
            timeout = null;
        }
        currentValue = value;

        function fake() {
            axios({
                method: 'post',
                url: 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/address',
                data: {
                    'query': value,
                    'count': 20
                },
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    'Authorization': 'Token 7a5550df271aa8ea1b11dd2749f09f3951eccc3e'
                }
            }).then(response => {
                if (currentValue === value) {
                    callback(response.data.suggestions);
                }
            });
        }

        timeout = setTimeout(fake, 300);
    }

    function getCoords(value, callback) {
        const str = querystring.encode({
            apikey: "6089fdb3-2842-4cfc-bfd6-4f933414f0bd",
            geocode: value,
            format: "json"
        });
        jsonp(`https://geocode-maps.yandex.ru/1.x/?${str}`)
            .then(response => response.json())
            .then((d) => {
                callback(d.response.GeoObjectCollection.featureMember[0].GeoObject.Point.pos.split(' '))
            });
    }

    function clearObject(value) {
        for (const prop of Object.getOwnPropertyNames(value)) {
            value[prop] = null;
        }
    }

    export default {
        props: {
            address: {
                type: Object,
                default: null,
            }
        },
        data() {
            return {
                cities: [], // список всех городов для селекта
                data: [], // список адресов из dadata
                value: undefined, // текущий адрес dadata
                citySelect: false, // виден ли выпадающий список городов
                errors: {},
                loading: false,
                alert: false
            };
        },
        watch: {
            errors: function (val) {
                this.alert = Object.keys(val).length > 0
            }
        },
        mounted() {
            this.fetchCities()
        },
        methods: {
            fetchCities() {
                this.loading = true
                const message = this.$message.loading('Загрузка данных', 0)
                axios.get(`/api/backend/city/all`)
                    .then(response => {
                        this.cities = response.data
                    })
                    .catch(error => {
                        this.$message.error('Ошибка')
                    })
                    .then(() => {
                        setTimeout(message, 0)
                        this.loading = false
                    })
            },
            handleChange(value) {
                this.address.city = this.cities.filter((item) => {
                    return item.name === value;
                })[0];
            },
            filterOption(input, option) {
                return option.componentOptions.children[0].text.toLowerCase().indexOf(input.toLowerCase()) >= 0
            },
            handleSearchAddress(value) {
                fetch(value, data => this.data = data);
            },
            handleChangeAddress(value) {
                this.value = value

                fetch(value, data => {
                    this.data = data

                    // достаем один элемент адреса дадаты
                    var current = data.length === 1 ? data[0] : data.filter((item) => {
                        return item.unrestricted_value === value;
                    })[0];

                    // текстовый вариант адреса
                    this.address.address = [
                        current.data.city,
                        current.data.settlement_with_type,
                        current.data.street_with_type,
                        current.data.house,
                    ].filter(Boolean).join(', ')

                    // координаты адреса, если определены
                    this.address.lat = current.data.geo_lat
                    this.address.long = current.data.geo_lon

                    // если не определены, то определяем
                    if (!current.data.geo_lat || !current.data.geo_lon) {
                        getCoords(this.address.address, data => {
                            this.address.lat = data[1]
                            this.address.long = data[0]
                        })
                    }

                    // название города и определение координат, если город определился
                    clearObject(this.address.city)
                    if (current.data.city) {
                        this.citySelect = false
                        getCoords(current.data.city, data => {
                            this.address.city.name = current.data.city
                            this.address.city.lat = data[1]
                            this.address.city.long = data[0]
                        })
                    } else {
                        this.citySelect = true
                    }
                });
            },
            onClick(e) {
                this.address.lat = e.get('coords')[0]
                this.address.long = e.get('coords')[1]
            }
        }
    };
</script>

<style>
  label {
    margin-bottom: 0;
  }

  .ymap-container {
    height: 100%;
  }
</style>
