@media screen and (max-width: 2560px) {
  #owl-2 .owl-dots{
    right: 32%;
  }
  .app-block{
    background-position: bottom right 28%;
  }
}
@media screen and (max-width: 2000px) {
  #owl-2 .owl-dots{
    right: 25%;
  }
  .app-block{
    background-position: bottom right 15%;
  }
}
@media screen and (max-width: 1800px) {
  header .top-block__soc{
    right: 10%;
  }
}
@media screen and (max-width: 1600px) {
  #owl-2 .owl-nav .owl-prev{
    top: -260px;
  }
  #owl-2 .owl-nav .owl-next{
    top: -260px;
  }
  header .top-block__soc{
    right: 4%;
  }
}
@media screen and (max-width: 1500px) {
  header .top-block__button{
    margin-right: 0%;
  }
}
@media screen and (max-width: 1400px) {
  #owl-2 .owl-nav .owl-prev{
    top: -250px;
  }
  #owl-2 .owl-nav .owl-next{
    top: -250px;
  }
  .inter-blog{
    margin-top: 80px;
  }
}
@media screen and (max-width: 1300px) {
  header .top-block__soc{
    right: 3%;
  }
  header .top-block__logo{
    margin-left: 0px;
  }
  header .top-block__menu{
    margin-left: 4%;
  }
  header .top-block__button{
    float: right;
    margin-left: 0%;
  }
  .app-block .container {
    max-width: 950px;
  }
  .subscribe-block{
    max-width: 1075px;
  }
  .subscribe-block__search-input {
    width: 100%;
    outline: none;
    background: #F2F7FA;
    border: none;
    padding: 19px 25px;
    float: left;
    font-size: 14px;
    font-family: "Monsterrat-medium";
    color: #171717;
    border-radius: 3px 0px 0px 3px;
    height: 55px;
  }
}
@media screen and (max-width: 1200px) {
  #owl-2 .owl-nav .owl-prev{
    top: -200px;
  }
  #owl-2 .owl-nav .owl-next {
    top: -200px;
  }
  .reviews-rating__progress-place{
    width: 100%;
  }
  .reviews-rating__progress .v-align {
    width: 300px;
  }
  .calc-block{
    display: none;
  }
  .write_review{
    margin-top: 50px;
  }
  .text-block__ad{
    margin-bottom: 0px;
  }
  #header-min-item .top-block__ui-more{
    margin-left: 55px;
  }
  .write_review.open:before{
    top: 110px;
  }
  .write_questions.open:before{
    top: 100px;
  }
  .top-block__ui{
    .top-block__ui-stat{
      margin-right: 50px !important;
    }
    .top-block__ui-rec{
      margin-left: 55px !important;
    }
    .top-block__ui-more{
      margin-left: 55px !important;
    }
  }
}
@media screen and (max-width: 1200px) {
  .block-gallery {
    max-width: unset;
    min-width: unset;
  }
  #owl-2{
    margin-top: 50px;
  }
  .text-block__ad-fixed{
    img{
      width: 100%;
    }
  }
  .text-block__ad{
    img{
      width: 100%;
    }
  }
  .attract-block__text{
    font-size: 16px;
    line-height: 23px;
    span{
      font-size: 14px;
    }
  }
  .attract-block__image{
    right: 0px;
  }
  .attract-block{
    padding: 20px 40px;
    height: 160px;
  }
  .attract-block__button{
    margin-left: 0px;
    padding: 11px 30px;
    margin-top: 25px;
  }
  .attract-block__button{
    display: none;
  }
  .attract-block__button.hid{
    display: block !important;
  }
  .modal-dialog {
    max-width: 1000px;
  }
  header .top-block__button{
    float: right;
    margin-left: 0%;
  }
  .rating-block__content{
    top: 20px;
  }
  .events-block{
    margin-bottom: 0px;
  }
  .events-block .pagination-panel{
    li{
      a{
        height: 40px;
        width: 30px;
        padding-top: 9px;
      }
    }
    li.active{
      height: 40px;
      width: 30px;
      padding-top: 9px;
    }
  }
  #header-min-item .top-comp-mob{
    .top-block__ui-rec{
      margin-left: 70px !important;
    }
    .top-block__ui-more{
      margin-left: 70px !important;
    }
  }
  .banner{
    margin-top: 80px;
  }
  .lk-body__nav.mds{
    margin-top: 0px;
  }
  .lk-calc-block-text{
    margin-right: 0px !important;
  }
  .four-blocks{
    .v-align{
      align-items: unset;
    }
  }
  #owl-2 .owl-dots{
    right: 13%;
    top: 180px;
  }
}
@media screen and (max-width: 1000px) {
  .banner {
    margin-top: 60px;
  }
  .app-block{
    margin-top: 80px;
  }
  .modal-dialog {
    max-width: 800px;
  }
  .app-block .container{
    max-width: 780px;
  }
  #owl-2 .owl-nav .owl-prev{
    top: -170px;
  }
  #owl-2 .owl-nav .owl-next {
    top: -170px;
  }
  header {
    min-height: 480px;
  }
  header .title-text{
    margin-top: 85px;
    line-height: 30px;
  }
  .header .top-block__menu{
    margin-left: 0%;
  }
  header .top-block__menu li{
    margin-right: 20px;
  }
  header .top-block__menu ul{
    padding: 0px;
  }
  .top-block__logo{
    a:nth-child(1){
      display: none;
    }
    a:nth-child(2){
      display: block !important;
    }
  }
  .search-block__info-block{
    display: none;
  }
  .top-block__soc{
    display: none;
  }
  header .soc-mobile{
    display: block;
  }
  .app-block__phone {
    position: absolute;
    bottom: 0;
    width: 200px;
  }
  #header-min-item{
    min-height: 640px;
  }
  .top-comp-mob{
    .top-block__soc-mob{
      margin-left: auto;
      .soc-mobile{
        margin-top: 0px;
      }
    }
  }
  #header-min-item.resp-header{
    min-height: unset;
    .top-block__nav{
      padding-bottom: 40px;
    }
    .top-block__soc-mob{
      margin-top: 20px;
    }
  }
  .top-block__soc-mob.comp-right{
    display: block;
  }
  #owl-2 .owl-dots{
    right: 13%;
    top: 150px;
  }
}
@media screen and (max-width: 992px) {
  .subscribe-block__form-table {
    width: 100%;
  }
  #owl-2 .owl-dots{
    right: 10%;
    top: 140px;
  }
  .top-block__ui-more form{
    margin-top: 15px;
  }
  #min-header{
    min-height: 360px;
  }
  #min-header .search-block__input{
    height: 60px;
  }
  #min-header .search-block__glass{
    height: 60px;
    width: 60px;
  }
  .rating-block__item img{
    height: 300px;
  }
  header .title-text{
    font-size: 32px;
  }
  header .title-text__small{
    font-size: 15px !important;
  }
  header .soc-mobile {
    margin-top: 35px;
  }
  header .search-block{
    width: 100%;
    margin-top: 40px;
  }
  #min-header-wi{
    min-height: 460px;
  }
  #min-header-wi .top-block__breadcrumb{
    margin-top: 55px;
    margin-bottom: 0px;
  }
  #min-header-wi h1{
    font-size: 32px;
    padding: 27px 0px;
  }
  #min-header-wi .top-block__desc{
    font-size: 15px;
  }
  #min-header-wi .search-block__input{
    height: 60px;
  }
  #min-header-wi .search-block__glass{
    width: 60px;
    height: 60px;
  }
  #min-header-wi .top-block__view-map span{
    font-size: 15px;
  }
  .subscribe-block__search{
    float: left;
    width: 100%;
    margin-top: 25px;
  }
  .hidden-md{
    display: none;
  }
  .footer-info__soc-general{
    text-align: right;
  }
  .footer-info__soc-general{
    display: none;
  }
  .footer-info__elgrow {
    position: relative;
    text-align: right;
    margin-top: 0;
    float: unset;
  }
  #min-header .top-block__breadcrumb{
    margin-top: 55px;
    margin-bottom: 0px;
    li{
      font-size: 12px;
      a{
        font-size: 12px !important;
      }
    }
  }
  #min-header .top-block h1{
    font-size: 32px;
    padding: 45px 0px 0px;
  }
  #min-header .search-block{
    margin-top: 35px;
  }
  .mobfilter_3 .range-width{
    width: 577px;
  }
  .top-block__top-badges{
    font-size: 12px;
  }
  #header-min-item .top-block__title{
    font-size: 32px;
    line-height: 41px;
  }
  #header-min-item .top-block__top-badges{
    margin-top: 35px;
    font-size: 12px;
  }
  #header-min-item .top-block__desc{
    margin-top: 25px;
  }
  .top-block__ui .v-align{
    display: block;
  }
  .top-block__ui-stat{
    font-size: 13px;
  }
  #header-min-item .top-block__ui-stat{
    margin-bottom: 40px;
  }
  #header-min-item .top-block__ui-stars{
    float:left;
  }
  #header-min-item .top-block__ui-rec{
    float: left;
  }
  #header-min-item .top-block__ui-more{
    float: left;
  }
  #header-min-item .top-block__nav{
    clear: both;
    padding-bottom: 30px;
  }
  #header-min-item .top-block__nav-date{
    font-size: 13px;
  }
  #header-min-item .top-block__nav-map{
    font-size: 13px;
    margin-right: 0px;
  }
  #header-min-item .top-block__nav-company{
    font-size: 13px;
    text-align: right;
    width: 160px;
    line-height: 16px;
    a{
      font-size: 13px;
    }
  }
  #header-min-item .top-block__nav-company .logo{
    bottom: 50px;
  }
  #header-min-item .soc-mobile{
    margin-top: 20px;
  }
  .warning-block__text{
    font-size: 15px;
  }
  .warning-block__public{
    font-size: 15px;
    padding: 18px 20px;
  }
  .warning-block__stop{
    font-size: 15px;
  }
  .text-block__title{
    font-size: 24px;
  }
  .similar-title{
    font-size: 24px;
    margin-bottom: 0px;
  }
  .similar-title__group{
    margin-top: 30px;
  }
  .attract-block{
    margin-bottom: 60px;
  }
  .text-block__text{
    font-size: 14px;
  }
  .text-block__ad-fixed{
    margin-top: 0px;
    width: 240px;
    margin-bottom: 50px;
  }
  .hide_block{
    display: none;
  }
  .reviews-nav {
    span{
      font-size: 15px;
    }
  }
  .reviews-rating__count span{
    font-size: 60px;
  }
  .write_review{
    font-size: 15px;
  }
  .review-block__text{
    font-size: 14px;
  }
  .review-block__nav span{
    font-size: 15px;
  }
  .review-block__comments-list-text{
    font-size: 14px;
  }
  .review-block__comments-list-reply span{
    font-size: 15px;
  }
  .onwrite-review__button button{
    font-size: 15px;
  }
  .onwrite-review__button span{
    font-size: 15px;
  }
  .onwrite-quest__button span{
    font-size: 15px;
  }
  .calc-block{
    display: none !important;
  }
  .write_questions{
    font-size: 15px;
  }
  .question-block__text{
    font-size: 14px;
  }
  .question-block__nav span{
    font-size: 15px;
  }
  #min-header.text .top-block__desc{
    line-height: 26px;
    font-size: 15px;
    margin-top: 25px;
  }
  h2{
    font-size: 24px;
    padding: 35px 0px;
  }
  p{
    font-size: 14px;
    a{
      font-size: 14px;
    }
  }
  .three-blocks{
    .col-lg-6{
      margin-bottom: 50px;
    }
  }
  ul.text{
    li{
      font-size: 14px;
    }
  }
  ol.text{
    li{
      font-size: 14px;
    }
  }
  .img_100{
    width: 100%;
  }
  blockquote{
    margin: 60px 0px;
    font-size: 14px;
  }
  .top-block__nav-company a div:first-child{
    width: 115px;
  }
  .top-block__nav-company a div:last-child{
    padding-top: 7px;
  }
  .text-block__ad-fixed{
    float: left;
    margin-right: 45px;
  }
  .adhd{
    display: block;
  }
  .blue_hr{
    margin-bottom: 60px;
    margin-top: 40px;
  }
  .text-block__more{
    margin-bottom: 50px;
  }
  #owl-gallery .owl-stage-outer{
    overflow: unset;
  }
  .map-point__adres{
    font-size: 14px;
  }
  .map-point__time{
    font-size: 14px;
  }
  .map-point__phone{
    font-size: 14px;
  }
  .map-point__site{
    font-size: 14px;
  }
  .reviews-rating__progress-place {
    width: 280px;
  }
  #header-min-item.resp-header{
    .soc-mobile{
      margin-top: 0px;
    }
    .top-block__nav{
      padding-top: 0px;
    }
    .top-block__soc-mob{
      padding-top: 15px;
    }
  }
  .mobhb{
    display: none;
  }
  .question-block__comments-list-text {
    font-size: 14px;
  }
  .question-block__comments-list-reply span {
    font-size: 15px;
  }
  header .search-block__filter{
    top: 19px;
  }
  #header-min-item.resp-header .top-block__nav.comp-md-nav{
    padding-top: 43px;
    padding-bottom: 35px;
  }
  .img-right{
    max-width: 235px;
  }
  .img-left{
    max-width: 235px;
  }
  .warning-block__public {
    margin-top: 15px;
    padding: 14px 25px;
  }
  .warning-block__nav{
    margin-top: 15px;
  }
  .warning-block__stop {
    margin-top: 15px;
    padding: 14px 25px;
  }
  #owl-2 {
    margin-top: 35px;
  }
}

@media screen and (max-width: 800px) {
  .modal-dialog {
    max-width: 680px;
  }
}

@media screen and (max-width: 768px) {
  .city-panel input{
    font-size: 14px;
  }
  #min-header-wi .search-block__input {
    height: 50px;
  }
  #min-header-wi .search-block__glass {
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
  }
  header .search-block__filter{
    top: 14px;
    right: 70px;
  }
  .ie-fix{
    display: block !important;
  }
  .top-block__ui-more{
    form{
      margin-top: 0px;
    }
  }
  .onwrite-review textarea{
    margin-top: 30px;
  }
  #min-header{
    min-height: 260px;
    padding-bottom: 35px;
  }
  #min-header .top-block h1 {
    padding: 25px 0px;
  }
  #min-header .search-block__glass {
    height: 50px;
    width: 50px;
    flex: 0 0 50px;
  }
  #min-header .search-block__input {
    height: 50px;
  }
  .search-panel__title{
    font-size: 20px;
    margin-top: 30px;
  }
  .search-panel__row{
    margin-top: 25px;
  }
  .search-panel__row-more{
    font-size: 14px;
    padding: 22px 0px;
    img{
      display: none;
    }
  }
  .app-block__buttons-block .app-block__button-back{
    margin-right: 0px;
  }
  .app-block__buttons-block a:first-child .app-block__button-back{
    margin-right: 25px;
  }
  #min-header .top-block__breadcrumb{
    margin-bottom: 0px;
    font-size: 12px;
    margin-top: 0px;
    width: 100%;
    a{
      font-size: 12px;
    }
  }
  .top-block h1{
    font-size: 24px;
    padding: 25px 0px;
  }
  #min-header .search-block{
    margin-top: 0px;
  }
  header .soc-mobile {
    margin-top: 25px;
  }
  .top-block__city span{
    font-size: 15px;
  }
  .top-block__menu ul li a{
    font-size: 15px;
  }
  .top-block__button a{
    padding: 10px 20px !important;
    font-size: 15px !important;
  }
  header .title-text{
    font-size: 32px;
    margin-top: 90px;
  }
  .title-text__small{
    font-size: 15px !important;
  }
  header{
    min-height: 480px;
  }
  header .search-block{
    margin-top: 40px;
  }
  .rating-block__item{
    img{
      height: 215px;
    }
  }
  #owl-2 .owl-nav .owl-next{
    top: -130px;
  }
  #owl-2 .owl-nav .owl-prev{
    top: -130px;
  }
  .inter-blog{
    margin-top: 35px;
  }
  .events-block__text{
    font-size: 16px;
  }
  .rating-block__content-title{
    font-size: 24px;
  }
  .rating-block__content-desc{
    font-size: 14px;
  }
  .rating-block__content-button{
    font-size: 15px;
  }
  .rating-block__content{
    top: 30px;
  }
  .title-catalog{
    font-size: 24px;
  }
  .events-block {
    margin-bottom: 35px;
  }
  .title-more {
    margin-top: 30px;
  }
  .title-more__title{
    font-size: 24px;
  }
  .title-more__desc{
    font-size: 14px;
  }
  .title-more__view a{
    font-size: 13px;
  }
  .gallery_owl .owl-nav{
    display: none !important;
  }
  .app-block__image{
    display: none;
  }
  .app-block__info-title{
    font-size: 14px;
  }
  .app-block__info-desc{
    font-size: 24px;
  }
  .app-block__button-text div:first-child{
    font-size: 10px;
  }
  .app-block__button-text div:last-child{
    font-size: 15px;
  }
  .app-block__button-logo{
    width: 60px;
    height: 60px;
  }
  .app-block__button-back{
    width: 190px;
    height: 60px;
  }
  .app-block__button-logo img{
    margin-top: 18px;
  }
  .app-block__button-back{
    margin-right: 20px;
  }
  .app-block{
    height: 295px;
    position: relative;
  }
  .app-block__info{
    margin-top: 30px;
  }
  .app-block__phone{
    position: absolute;
    width: 260px;
    bottom: 0px;
  }
  .subscribe-block__text{
    width: 100%;
  }
  .subscribe-block__text div:first-child{
    font-size: 16px;
  }
  .subscribe-block__text div:last-child{
    display: none;
  }
  .subscribe-block__search-politic{
    a{
      font-size: 12px;
    }
  }
  .subscribe-block__search{
    float: unset;
  }
  footer{
    background-image: unset;
  }
  .title-more__title {
    float: left;
  }
  .footer-info__menu-title{
    margin-top: 10px;
  }
  .footer-info__soc{
    margin-bottom: 20px;
  }
  .mobfilter_3 {
    min-height: 400px;
  }
  .drp-calendar.right{
    display: none !important;
  }
  .daterangepicker .calendar-table table{
    width: 490px;
  }
  .mobfilter_3 .range-width {
    width: 415px;
  }
  .mobfilter_3-desc label{
    width: 400px;
  }
  .search-panel__sort{
    overflow: hidden;
    overflow-x: scroll;
    ul{
      width: 600px;
    }
  }
  #header-min-item .top-block__breadcrumb{
    margin-top: 0px;
  }
  #header-min-item .top-block__top-badges{
    margin-top: 25px;
  }
  #header-min-item .top-block__title{
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
  }
  #header-min-item .top-block__descfull{
    margin-top: 15px;
    font-size: 13px;
    line-height: 22px;
  }
  #header-min-item .top-block__desc{
    margin-top: 15px;
  }
  #header-min-item .top-block__ui-stars span{
    display: none;
  }
  #header-min-item .top-block__ui-rec span{
    display: none;
  }
  #header-min-item .top-block__ui-more span{
    display: none;
  }
  #header-min-item .top-block__ui-more{
    padding-top: 12px;
  }
  .write_review.open:before {
    top: 99px;
  }
  .write_questions.open:before{
    top: 99px;
  }
  #min-header.text h1{
    font-size: 24px;
  }
  #min-header.text .top-block__desc{
    margin-top: 0px;
    font-size: 13px;
  }
  h2{
    font-size: 20px;
    padding: 30px 0px 15px;
  }
  .overmob{
    overflow: hidden;
    overflow-x: scroll;
  }
  blockquote{
    padding: 20px 10px 0px 15px;
  }
  blockquote:after{
    display: none;
  }
  .three-blocks{
    margin: 5px 0px;
    span{
      margin-top: 11px;
    }
  }
  .three-blocks img{
    margin-bottom: 40px;
    width: 26px;
  }
  ul.text{
    margin-bottom: 25px;
    li{
      margin-bottom: 17px;
      line-height: 20px;
    }
  }
  ol.text{
    margin-bottom: 25px;
    li{
      margin-bottom: 17px;
      line-height: 20px;
    }
  }
  .img_100{
    margin-bottom: 25px;
  }
  table.text{
    font-size: 14px;
    margin: 5px 0px;
  }
  .onwrite-review__blockmob{
    margin-top: 8px;
  }
  .separate{
    .separate__block{
      margin-top: 20px;
    }
    .separate__href.right{
      display: none;
    }
  }
  .separate__forgot{
    display: block;
  }
  .separate__block .auth-panel__option-full-forgot.active-full{
    display: none !important;
  }
  .auth-panel__option-full-forgot-sep.active-full{
    display: none !important;
  }
  #owl-3 {
    margin-bottom: 0px;
  }
  #header-min-item.resp-header{
    .top-block__nav{
      padding-top: 0px;
    }
  }
  .top-block__nav{
    margin-top: 30px !important;
  }
  header .soc-mobile a {
    margin-right: 45px;
  }
  header .soc-mobile a:last-child {
    margin-right: 0px;
  }
  #mapList{
    margin-bottom: 60px;
  }
  .write_review {
    margin-top: 40px;
  }
  .scroll_ad ul li .text-block__ad-fixed{
    margin-bottom: 25px;
  }
  #header-min-item .top-block__ui{
    margin-top: 15px;
  }
  .top-block__ui-stat div:first-child{
    margin-bottom: 15px;
  }
  #header-min-item .top-block__top-badges{
    margin-top: 25px;
  }
  .choice {
    margin-bottom: 20px;
  }
  .write_review.open:before {
    top: 90px;
  }
  .write_questions.open:before {
    top: 90px;
  }
  .onwrite-review textarea{
    padding: 20px 16px;
  }
  .onwrite-review__button{
    display: flex;
    align-items: center;
    width: 100%;
  }
  .onwrite-quest__button{
    display: flex;
    align-items: center;
    width: 100%;
  }
  #header-min-item .top-block__breadcrumb{
    ul{
      li{
        font-size: 12px !important;
        a{
          font-size: 12px !important;
        }
      }
    }
  }
  .warning-block__right{
    .v-align{
      justify-content: space-between;
    }
  }
  #min-header-wi.mobile-company-height{
    min-height: 290px;
  }
  .onwrite-quest textarea {
    margin-top: 30px;
  }
  .warning-block__public {
    padding: 10px 10px;
    margin-top: 23px;
  }
  .warning-block__stop {
    padding: 10px 10px;
    margin-top: 23px;
  }
  #owl-3{
    margin-bottom: 30px;
  }
  .banner {
    margin-top: 20px;
  }
  .app-block{
    margin-top: 110px;
  }
  .show-more a div{
    padding: 15px;
    height: 55px;
  }
  .pagination-panel ul{
    margin: 16px 0;
  }
  .direct{
    margin-top: 50px;
  }
  .events-block .pagination-panel li a{
    height: 45px;
    width: 40px;
    padding-top: 12px;
  }
  .events-block .pagination-panel li.active {
    height: 45px;
    width: 40px;
    padding-top: 12px;
  }
  .pagination-panel ul li:nth-child(1n+8){
    display: none;
  }
  .pagination-panel ul li:last-child{
    display: block !important;
  }
  .company-block .ad {
    margin-bottom: 20px;
  }
  .block-gallery__global{
    margin-bottom: 30px;
  }
  .text-global-block{
    margin-bottom: -30px;
  }
  .warning-block__stop {
    margin-top: 15px;
    padding: 14px 25px;
  }
  .warning-block__public{
    margin-top: 15px;
    padding: 14px 25px;
  }
  .title-today{
    margin-top: 0px;
  }
  #owl-3 .owl-stage-outer {
    .owl-stage .owl-item {
      width: 300px !important;
    }
  }
  .title-index{
    margin-top: 60px;
  }
  .service_gallery{
    padding-left: 15px;
    .col-md-3{
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
@media screen and (max-width: 767px) {
  .block-gallery{
    max-width: unset;
    min-width: unset;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .md-margin{
    margin-top: 0px !important;
  }
  .reg-form__agree-mob{
    display: block;
  }
  .reg-form__agree-block{
    float: left;
    margin-left: 15px;
    margin-bottom: 30px;
    width: unset;
  }
  .auth-form__soc-title{
    float: unset;
    text-align: center;
    width: 100%;
  }
  .reg-form__soc-list {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
  .auth-form__soc-list{
    margin: 12px auto;
    position: inherit;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  .auth-form__soc-mob-forgot{
    color: #3F6C93;
    text-align: center;
    margin-top: 25px;
    font-size: 14px;
    font-family: "Monsterrat-medium";
  }
  .auth-panel__option-forgot{
    display: none;
  }
  .reg-form__agree{
    display: none;
  }
  .reg-form__soc{
    margin-top: 0px;
    margin-bottom: 25px;
  }
  .mob-top{
    display: block;
  }
  .auth-panel__title{
    display: none;
  }
  .container.top-block{
    display: none;
  }
  .container-fluid.top-block{
    display: none;
  }
  #lk{
    min-height: unset;
  }
  header .title-text{
    margin-top: 0px;
    font-size: 24px;
  }
  .title-text__small{
    display: none;
  }
  header {
    min-height: 310px;
  }
  header .search-block__input{
    height: 50px;
  }
  header .search-block__glass{
    width: 50px;
    height: 50px;
    flex: 0 0 50px;
  }
  header .search-block__glass img{
    width: 16px;
    height: 16px;
  }
  .mobile__nav{
    display: block;
  }
  .container.mw{
    width: 93%;
  }
  .city-mh{
    display: none;
  }
  .city-mv{
    display: block;
  }
  .city-panel__list{
    margin-top: 190px;
  }
  .rating-block__content-desc{
    display: none;
  }
  .rating-block__content-block{
    margin-left: 20px;
    margin-top: -8px;
  }
  #owl-2 .owl-prev{
    display: none;
  }
  #owl-2 .owl-dots{
    display: none;
  }
  .events-block__text{
    left: 10px;
  }
  .title-more__all{
    display: none;
  }
  .title-more__desc{
    display: none;
  }
  .title-more__view{
    display: none;
  }
  .title-more__title{
    font-size: 20px;
  }
  .app-block__phone{
    display: none;
  }
  .hm{
    display: none;
  }
  .app-block__info-desc{
    display: none;
  }
  .app-block{
    background-image: none;
  }
  .subscribe-block__text div:first-child{
    text-align: center;
    margin-bottom: 25px;
  }
  .subscribe-block{
    margin-top: 40px;
  }
  .subscribe-block__search-politic{
    display: none;
  }
  .subscribe-block__form{
    display: grid;
  }
  .subscribe-block__search-button{
    width: 100%;
    margin-top: 16px;
    border-radius: 3px;
    img{
      display: none;
    }
  }
  .subscribe-block__form-table{
    input{
      border-radius: 3px;
    }
  }
  .app-block__info-title{
    margin-bottom: 0px;
  }
  .app-block__button-logo{
    display: none;
  }
  .app-block__buttons-block{
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }
  .app-block__button-back{
    padding-left: 20px;
  }
  .app-block{
    height: 175px;
  }
  .app-block__info{
    float: unset;
  }
  .footer-info__soc{
    position: absolute;
    top: -33px;
    right: 0px;
    a{
      img{
        opacity: 1;
      }
    }
  }
  .events-block{
    margin-bottom: 0px;
  }
  .title-more {
    margin-top: 40px;
  }
  .app-block{
    margin-top: 40px;
  }
  .banner{
    display: none;
  }
  .inter-blog__item-title{
    font-size: 16px;
  }
  .inter-blog__item-desc{
    font-size: 13px;
  }
  .inter-blog__item{
    max-height: 250px;
    padding-top: 25px;
  }
  .auth-form__soc{
    display: none;
  }
  .auth-form__soc-mob{
    display: block;
  }
  .show-more-button-mob{
    display: block;
  }
  .app-block__button-back{
    width: 175px;
  }
  .drp-calendar.left .next.available{
    position: absolute;
    top: 27px;
    right: 40px;
    span{
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      color: #fff;
      display: inline-block;
      content: url(../../images/icons/right-filter.svg);
      transform: unset !important;
      -webkit-transform: unset !important;
      padding-top: 0px !important;
    }
  }
  #min-header-wi .top-block__breadcrumb{
    margin-top: 0px;
    width: 100%;
  }
  #min-header-wi h1{
    font-size: 24px;
  }
  #min-header-wi .top-block__desc{
    display: none;
  }
  #min-header-wi h1{
    padding: 25px 0px;
  }
  #min-header-wi .search-block{
    margin-top: 0px;
  }
  #min-header-wi .top-block__view-map span{
    font-size: 14px;
  }
  #min-header-wi{
    min-height: 340px;
  }
  .filter-panel__block-title{
    font-size: 20px;
    margin: 40px 0px;
  }
  .daterangepicker{
    background-color: unset;
  }
  .filter-panel__filter{
    border-bottom: 1px solid #616d77;
    margin-bottom: 40px;
  }
  .filter-panel__filter ul li{
    font-size: 14px;
  }
  .mobfilter_2 ul li{
    font-size: 14px;
  }
  .mobfilter_3 input[type=text]{
    margin-top: 10px;
    width: 100%;
  }
  .mobfilter_3-desc label{
    font-size: 12px;
  }
  #header-min-item .top-block__nav .v-align{
    display: table;
  }
  #header-min-item .top-block__nav-map{
    margin-top: 30px;
  }
  #header-min-item .top-block__nav-company{
    margin-top: 30px;
    position: relative;
    display: -webkit-box;
    margin-left: unset;
    .logo{
      position: unset;
      img{
        margin-left: 0px;
      }
    }
    a{
      display: block;
      position: absolute;
      bottom: 0px;
      width: 100%;
    }
  }
  .warning-block__text{
    font-size: 13px;
  }
  .warning-block.mh .warning-block__text{
    padding: 0px;
  }
  .warning-block.mh{
    height: 120px;
    .warning-block__text{
      padding-top: 20px;
    }
  }
  .warning-block__public{
    font-size: 14px;
  }
  .text-block__title{
    font-size: 20px;
    margin-bottom: 25px;
  }
  .text-global-block {
    margin-top: 30px;
  }
  .text-block__more span{
    font-size: 15px;
  }
  .reviews-rating__count span{
    font-size: 40px;
  }
  .reviews-rating__count{
    font-size: 14px;
  }
  .reviews-rating{
    display: block;
    margin-top: 25px;
  }
  .reviews-rating__stars{
    float: left;
  }
  .write_review{
    font-size: 14px;
    height: 50px;
  }
  .write_questions{
    font-size: 14px;
    height: 50px;
  }
  .onwrite-review__nav{
    display: inline;
    .onwrite-review__rating{
      margin: 10px 0px;
    }
  }
  .onwrite-review__blockmob{
    display: flex;
  }
  .onwrite-review .onwrite-review__thumb-ico{
    margin-left: 0px;
    margin-right: 16px;
    margin-top: 10px;
  }
  .onwrite-review__button button{
    font-size: 14px;
    padding: 15px 50px;
  }
  .onwrite-quest__button button{
    font-size: 14px;
    padding: 15px 50px;
  }
  .review-block__fixed{
    top: 95px;
    left: 35px;
  }
  .review-block__avatar{
    width: 40px;
    height: 40px;
  }
  .review-block__title{
    font-size: 14px;
    span{
      font-size: 13px;
    }
  }
  .review-block__text{
    margin-left: 0px;
    margin-top: 50px;
  }
  .review-block__nav{
    margin-left: 0px;
  }
  .question-block__text{
    margin-left: 0px;
  }
  .question-block__nav{
    margin-left: 0px;
  }
  .review-block__comments-count{
    display: none;
  }
  .review-block__comments-hide{
    font-size: 12px;
  }
  .review-block__comments-hide{
    font-size: 14px;
    span{
      font-size: 12px;
    }
  }
  .review-block__comments-list-text{
    margin-top: 10px;
    margin-left: 0px;
  }
  .review-block__comments-row{
    margin-top: 30px;
  }
  .review-block__comments-list-reply{
    margin-top: 20px;
    margin-left: 0px;
  }
  .review-block__comments-list-avatar{
    width: 40px;
    height: 40px;
  }
  .attract-block__image{
    display: none;
  }
  .similar-title{
    font-size: 20px;
  }
  .gallery_owl{
    margin-top: 20px;
  }
  .blue_hr{
    display: none;
  }
  .attract-block{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .choice{
    width: 100%;
    margin-bottom: 15px;
  }
  .top-block__top-badges .v-align{
    display: block;
  }
  #header-min-item .top-block__top-badges img:nth-child(2){
    margin-left: 0px;
  }
  .review-block__comments-list-title{
    font-size: 14px;
    span{
      font-size: 12px;
    }
  }
  .similar-title__group{
    margin-top: 20px;
    span{
      font-size: 15px;
    }
  }
  #header-min-item .top-block__nav .v-align{
    display: grid;
  }
  #header-min-item .top-block__nav-company a{
    width: unset;
    right: 0;
  }
  #header-min-item .top-block__nav-company{
    width: unset;
  }
  .top-block__ui{
    .top-block__ui-rec{
      margin-left: 60px !important;
    }
    .top-block__ui-more{
      margin-left: 50px !important;
    }
  }
  #header-min-item{
    min-height: 300px;
  }
  #header-min-item.resp-header{
    .top-block__soc-mob{
      margin-left: unset;
      margin-top: 30px;
    }
    .top-block__nav-map{
      margin-top: 20px;
    }
  }
  .question-block__comments-count{
    display: none;
  }
  .question-block__comments-list-text {
    margin-top: 10px;
    margin-left: 0px;
  }
  .question-block__comments-list-avatar {
    width: 40px;
    height: 40px;
  }
  .question-block__comments-list-title{
    font-size: 14px;
  }
  .question-block__comments-list-reply {
    margin-top: 20px;
    margin-left: 0px;
  }
  .question-block__avatar {
    width: 40px;
    height: 40px;
  }
  .question-block__title{
    font-size: 14px;
  }
  .onwrite-quest{
    min-height: unset;
  }
  .pagination-panel ul li:nth-child(1n+6){
    display: none;
  }
  .mediagalleryMob{
    display: block;
  }
  .block-gallery__global{
    display: none;
  }
  .warning-block__text{
    .v-align{
      justify-content: center;
    }
  }
  .top-block__nav.comp-md-nav{
    .top-block__soc-mob.comp-right{
      display: none;
    }
  }
  .top-block__soc-mob.comp{
    display: block;
  }
  #header-min-item.resp-header .top-block__nav.comp-md-nav{
    margin-top: 5px !important;
    padding-top: 0px;
  }
  .onwrite-review__blockmob{
    .thumb-review__ico.up:before{
      margin-left: 0px;
    }
  }
  .title-index{
    margin-top: 0px;
  }
  .app-block__info-title{
    text-align: center;
  }
}
@media screen and (max-width: 600px){
  .mobfilter_3 .range-width {
    width: 90%;
  }
  .mobfilter_3-range-box {
    width: 99%;
  }
}
@media screen and (max-width: 576px) {
  .direct{
    display: none;
  }
  .city-panel input{
    height: 50px;
  }
  .city-panel button{
    height: 50px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .mob-top {
    padding: 50px 15px 25px;
  }
  #min-header-wi .search-block__filter{
    right: 65px;
  }
  .embedded-daterangepicker .daterangepicker .drp-calendar{
    width: 100%;
    max-width: 100%;
  }
  .daterangepicker .calendar-table table{
    width: 100%;
  }
  .drp-calendar.left .next.available{
    right: 25px;
    top: 20px;
  }
  .daterangepicker .drp-calendar.left{
    padding: 0px;
  }
  .filter-panel__nav .v-align{
    display: block;
    text-align: center;
  }
  .filter-panel__nav .text-right{
    display: block;
    text-align: center !important;
  }
  .mobfilter_3 .range-width{
    width: 86%;
  }
  .mobfilter_3-range-box {
    width: 94%;
  }
  .mobfilter_3-desc label {
    width: 250px;
  }
  .slider.slider-horizontal .slider-track{
    width: 115% !important;
  }
  .mobfilter_3{
    min-height: 420px;
  }
  #header-min-item .top-block__ui-rec{
    margin-left: 30px;
  }
  #header-min-item .top-block__ui-more{
    margin-left: 30px;
  }
  .title-more {
    margin-top: 0px;
  }
  .title-catalog{
    margin-top: 30px;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .title-more__title{
    margin-top: 40px;
  }
  .title-more__title.title-today{
    margin-top: 0px;
  }
  .inter-blog {
    margin-top: 20px;
  }
  .inter-blog__item-title{
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 575px){
  .four-blocks{
    .v-align{
      align-items: center;
    }
  }
  .app-block__info-title{
    text-align: left;
  }
}
@media screen and (max-width: 450px) {
  .reg-form__agree-block{
    width: 220px;
  }
  .attract-block{
    height: 185px;
  }
  .review-block__comments-list{
    overflow: hidden;
    overflow-x: scroll;
    .v-align{
      width: 300px;
    }
  }
  .question-block__comments-list{
    overflow: hidden;
    overflow-x: scroll;
    .v-align{
      width: 300px;
    }
  }
}
@media screen and (max-width: 520px){
  .reviews-rating__progress .v-align{
    width: unset;
  }
  #header-min-item .top-block__ui-more {
    float: right;
    margin-left: 100px !important;
    #sad + .label{
      margin-right: 0px;
    }
  }
  #header-min-item .top-block__ui-rec {
    .thumb-rating__ico:last-child{
      margin-right: 13px;
    }
  }
  #header-min-item .soc-mobile {
    margin-top: -25px;
    float: left;
  }
  #header-min-item .top-comp-mob{
    .top-block__nav-map{
      margin-top: 25px;
    }
    .soc-mobile{
      margin-top: -25px;
    }
    .top-block__ui-more{
      margin-left: 100px !important;
    }
    .top-block__ui-rec{
      float: right;
    }
    .top-block__soc-mob{
      padding-top: 0px;
    }
  }
  #header-min-item .top-block__ui-rec {
    float: right;
  }
  #mapList{
    margin-bottom: 40px;
    margin-left: -20px;
    margin-right: -20px;
    width: 110%;
  }
  .paddMap{
    padding-left: 0px;
    padding-right: 0px;
  }
  .rating-block__content-title{
    font-size: 20px;
    line-height: 26px;
  }
  .rating-block__content-block{
    margin-top: 15px;
  }
  .rating-block__content-button{
    padding: 11px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 500px){
  .img-right{
    float: unset;
    width: 100%;
    max-width: unset;
    margin: 0px 0px 40px 0px;
  }
  .img-left{
    float: unset;
    width: 100%;
    max-width: unset;
    margin: 0px 0px 40px 0px;
  }
  #owl-3 .owl-stage-outer {
    .owl-stage .owl-item {
      width: 250px !important;
    }
  }
}
@media screen and (max-width: 484px){
  .attract-block{
    height: 177px;
    padding: 30px 16px;
  }
}
@media screen and (max-width: 482px) {
  header {
    min-height: 340px;
  }
}
@media screen and (max-width: 450px) {
  .onwrite-review__button button{
    padding: 15px 20px;
  }
  .onwrite-quest__button button {
    padding: 15px 20px;
  }
  #owl-3 .owl-stage-outer{
    margin-left: -65px;
  }
}
@media screen and(max-width: 433px){
  .attract-block{
    span{
      display: none;
    }
    .attract-block__button{
      margin-top: 0px;
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 427px) {
  #header-min-item .top-block__ui-stat{
    margin-right: 0px;
  }
  .warning-block__stop{
    padding: 10px 10px;
    margin-top: 20px;
  }
  .warning-block__public{
    padding: 10px 10px;
    margin-top: 20px;
  }
  .warning-block__nav {
    margin-top: 20px;
  }
}
@media screen and (max-width: 400px) {
  .block-gallery {
    height: 130px;
  }
  header .top-block {
    padding-bottom: 20px;
  }
  .app-block__button-back {
    width: 150px;
  }
  .auth-panel__option{
    margin-top: 40px;
  }
  #header-min-item .top-block__ui-stat span {
    width: 100%;
    display: block;
    margin-left: 0px;
  }
  .review-block{
    padding: 16px;
  }
  .review-block__fixed {
    top: 75px;
    left: 16px;
  }
  .review-block__comments{
    padding: 16px;
  }
  .review-block__comments-row {
    margin-top: 15px;
  }
  .review-block__comments-list {
    margin-bottom: 25px;
  }
  .question-block__comments-list{
    margin-bottom: 25px;
  }
  .question-block{
    padding: 16px;
  }
  .question-block__comments{
    padding: 16px;
  }
  .question-block__comments-row {
    margin-top: 15px;
  }
  .onwrite-review{
    padding: 16px;
  }
  .onwrite-quest{
    padding: 16px;
  }
  #header-min-item.resp-header .top-block__nav.comp-md-nav{
    padding-bottom: 15px;
  }
  #owl-1 .owl-stage{
    margin: 0px;
  }
}
@media screen and (max-width: 376px) {
  .thumb-rating__wrap{
    .thumb-rating__ico.down{
      margin-right: 0px;
    }
    .thumb-rating__ico.up{
      margin-right: 14px;
    }
  }
  #header-min-item .top-block__ui-more #sad + .label{
    margin-right: 0px;
  }
  #header-min-item.resp-header .top-block__ui-rec{
    margin-left: 0px !important;
  }
  .onwrite-review__nav {
    margin-top: 15px;
  }
  .onwrite-review textarea {
    margin-top: 15px;
  }
  .pagination-panel ul li:nth-child(1n+8){
    display: none;
  }
  .events-block .pagination-panel li.active {
    height: 40px;
    width: 35px;
    padding-top: 10px;
  }
  .events-block .pagination-panel li a {
    height: 40px;
    width: 35px;
    padding-top: 10px;
  }
  #owl-3 .owl-stage-outer{
    margin-left: -60px;
  }
}
@media screen and (max-width: 375px) {
  #mobfilter_3{
    padding-left: 15px;
  }
  .mobfilter_3-desc label {
    width: 240px;
  }
  .top-block__nav{
    overflow: hidden;
    overflow-x: scroll;
  }
  .review-block{
    .v-align{
      width: 250px;
    }
  }
  #header-min-item .top-block__ui-stat{
    margin-bottom: 20px;
  }
  .onwrite-review__avatar{
    width: 40px;
    height: 40px;
    img{
      width: 100%;
    }
  }
  .onwrite-review__title{
    font-size: 14px;
    span{
      font-size: 12px;
    }
  }
  .onwrite-review textarea{
    font-size: 15px;
  }
  .onwrite-quest__avatar {
    width: 40px;
    height: 40px;
    img{
      width: 100%;
    }
  }
  .onwrite-quest__title{
    font-size: 14px;
  }
  .onwrite-quest textarea {
    font-size: 15px;
  }
  .onwrite-review__button span{
    margin-left: 20px;
  }
  #owl-3 .owl-dots{
    display: none;
  }
  #owl-1 .owl-stage-outer {
    .owl-stage .owl-item {
      width: 190px !important;
      .events-block__text{
        line-height: 22px;
      }
    }
  }
  .onwrite-quest__button span {
    margin-left: 20px;
  }
}
@media screen and (max-width: 361px) {
  .mobfilter_3-desc label {
    width: 230px;
  }
}
@media screen and (max-width: 350px) {
  .app-block__button-back{
    width: 128px;
  }
  .inter-blog__item{
    max-height: 235px;
    padding-top: 25px;
  }
  .drp-calendar.left .next.available{
    right: 15px;
  }
  .mobfilter_3-desc label {
    width: 200px;
  }
  header .search-block__input.filtm{
    padding-right: 100px;
  }
  #header-min-item .top-block__ui-stat span{
    width: 100%;
    display: block;
    margin-left: 0px;
  }
  .top-block__ui .top-block__ui-rec{
    margin-left: 0px !important;
  }
  .lk-body{
    margin: 0px;
  }
}
@media screen and (max-width: 342px) {
  .onwrite-review__button button{
    padding: 10px 10px;
    height: 42px;
  }
  .onwrite-quest__button button{
    padding: 10px 10px;
    height: 42px;
  }
  .warning-block__text{
    font-size: 12px;
  }
  #owl-3 .owl-stage-outer{
    margin-left: -30px;
  }
}
@media screen and (max-width: 332px) {
  .question-block__nav span{
    margin-right: 10px;
  }
  .review-block__nav span{
    margin-right: 10px;
  }
}
@media screen and (max-width: 328px) {
  .review-block__comments-hide i{
    margin-left: 0px;
  }
  .question-block__comments-hide i{
    margin-left: 0px;
  }
}
@media screen and (max-width: 325px) {
  .mobfilter_3-desc label{
    width: 170px;
  }
  .mobfilter_3-range-box{
    width: 90%;
  }
  .mobfilter_3 .range-width {
    width: 82%;
  }
}
@media screen and (max-width: 320px) {
  .app-block__button-back{
    width: 115px;
    padding-left: 10px;
  }
  .top-block{
    padding-bottom: 25px;
  }
  .minus-15{
    padding-right: 0px;
    padding-left: 0px;
  }
  .container.mw{
    width: 100%;
  }
  .mobile__nav-fix ul{
    padding: 0px 15px;
  }
  .mobile__nav-profileMenu ul{
    padding: 0px 15px;
  }
  .mob-top{
    padding: 50px 15px 25px;
  }
}

@media screen and (device-width: 768px) {
  #min-header .top-block__breadcrumb{
    margin-top: 55px;
  }
  .mobfilter_3 .range-width {
    width: 577px;
  }
  .daterangepicker .calendar-table table {
    width: 320px !important;
  }
  .drp-calendar.right {
    display: block !important;
  }
  #owl-2 .owl-dots{
    right: 10%;
    top: 100px;
  }
  .rating-block__content-desc{
    margin-top: 15px;
    line-height: 24px;
  }
  .rating-block__content-button{
    margin-top: 30px;
  }
  .rating-block__content {
    top: 41px;
  }
  .title-more__desc{
    width: 80%;
    margin-top: 10px;
  }
  #header-min-item .top-block__breadcrumb{
    margin-top: 57px;
    ul{
      li{
        font-size: 12px !important;
        a{
          font-size: 12px !important;
        }
      }
    }
  }
  #header-min-item .top-block__top-badges{
    margin-top: 35px;
  }
  #header-min-item .top-block__top-badges img:nth-child(2){
    margin-left: 60px;
  }
  #header-min-item .top-block__title{
    font-size: 32px;
    line-height: 41px;
  }
  #header-min-item .soc-mobile{
    margin-top: 35px;
  }
  #header-min-item .top-block__nav{
    margin-top: 40px;
    padding-bottom: 34px;
  }
  #header-min-item .top-block__ui-stars span{
    display: block;
  }
  #header-min-item .top-block__ui-rec span{
    display: block;
  }
  #header-min-item .top-block__ui-more span{
    display: block;
  }
  .separate .separate__block {
    margin-top: 25vh;
  }
  .top-block__avatar-photo{
    margin-right: 12px;
  }
  .top-block__avatar .name{
    display: none;
  }
  header .top-block__menu {
    margin-left: 8%;
  }
  header .title-text {
    line-height: 41px;
  }
  header .search-block__input{
    height: 60px;
  }
  header .search-block__glass{
    height: 60px;
  }
  header .soc-mobile{
    margin-top: 32px;
  }
  #owl-2 .owl-dots{
    display: none;
  }
  .rating-block__item img {
    height: 300px;
  }
  .rating-block__content-title {
    line-height: 32px;
  }
  #owl-2 .owl-nav .owl-prev {
    top: -165px;
  }
  #owl-2 .owl-nav .owl-next {
    top: -165px;
  }
  .inter-blog__item-title{
    font-size: 16px;
    line-height: 24px;
  }
  .inter-blog__item-desc{
    font-size: 14px;
    line-height: 22px;
  }
  .inter-blog__item{
    height: 230px;
    padding-top: 30px;
  }
  .title-more__view{
    margin-top: 10px;
  }
  .app-block .container {
    max-width: 720px;
  }
  .app-block__info-desc {
    line-height: 32px;
  }
  .subscribe-block__search-button{
    img{
      display: none;
    }
  }
  .app-block__buttons-block{
    margin-top: 35px;
  }
  .app-block__info {
    margin-top: 45px;
  }
  .subscribe-block__search-button{
    width: 160px;
  }
  .subscribe-block__text {
    float: unset;
  }
  .subscribe-block__search-politic{
    line-height: 19px;
  }
  .footer-info__menu-ul li{
    margin-bottom: 13px;
  }
  .footer-info__copy{
    margin-top: 35px;
  }
  .footer-info__agree {
    margin-top: 33px;
  }
  .footer-info__soc {
    margin-top: 50px;
  }
  .footer-info__elgrow{
    margin-top: -55px;
  }
  .subscribe-block__search-politic{
    margin-top: 8px;
    margin-bottom: 25px;
  }
  .gallery_owl{
    .owl-stage-outer{
      overflow: initial;
    }
  }
  .rating-block__content-block {
    margin-left: 40px;
  }
  .events-block {
    margin-bottom: 0px;
  }
  .title-more {
    margin-top: 0px;
  }
  .footer-info hr{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  #min-header .search-block__input {
    height: 60px;
  }
  #min-header .search-block__glass {
    height: 60px;
    width: 60px;
  }
  #min-header .top-block h1 {
    padding: 45px 0px 0px;
  }
  #min-header .top-block .search-block {
    margin-top: 35px;
  }
  .search-panel__title {
    font-size: 24px;
  }
  #min-header{
    padding-bottom: 36px;
  }
  .search-panel__row-more {
    font-size: 15px;
    padding: 17px 0px;
  }
  header .search-block__filter{
    top: 18px;
  }
  #min-header-wi .top-block__view-map{
    margin-top: 35px;
  }
  .search-panel__sort ul li.active a{
    font-size: 14px;
  }
  .search-panel__sort ul li a{
    font-size: 14px;
  }

  .ad {
    margin-bottom: 50px;
    margin-top: -10px;
  }
  .top-block__nav-company {
    a {
      div:first-child {
        width: 133px;
      }
      div:last-child {
        padding-top: 7px;
      }
    }
  }
  #header-min-item .top-block__nav-company .logo {
    bottom: 40px;
  }
  #header-min-item .top-block__ui-rec span{
    font-size: 10px;
  }
  #header-min-item .top-block__ui-stars span{
    font-size: 10px;
  }
  #header-min-item .top-block__ui-more span{
    font-size: 10px;
  }
  #header-min-item .soc-mobile {
    margin-top: 30px;
  }
  #header-min-item .top-block__title{
    margin-top: 15px;
  }
  #header-min-item .top-block__desc{
    margin-top: 25px;
  }
  #header-min-item {
    min-height: unset;
  }
  .attract-block {
    padding: 27px 40px;
    height: 172px;
  }
  #header-min-item .top-block__descfull{
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 43px;
    margin-top: 17px;
  }
  .top-block__soc-mob.comp{
    float: right;
    margin-left: auto;
    margin-top: 30px;
    .soc-mobile{
      margin-top: 0px !important;
      a:last-child{
        margin-right: 0px;
      }
    }
  }
  .top-block__nav-map{
    margin-top: 0px;
  }
  #min-header .top-block h1{
    padding: 45px 0px 25px;
    font-size: 32px;
    line-height: 26px;
  }
  #min-header.text .top-block__desc{
    font-size: 15px;
  }
  h2 {
    font-size: 24px;
    padding: 35px 0px 18px;
  }
  table.text{
    font-size: 16px;
  }
  #header-min-item.resp-header{
    .top-block__soc-mob.comp{
      float: unset;
    }
    .top-block__nav{
      margin-top: 0px;
    }
  }
  .map-shadow{
    display: block;
  }
  .choice {
    margin-bottom: 0px;
  }
  .service_gallery{
    .owl-stage-outer{
      .col-md-3{
        max-width: unset;
      }
    }
  }
  .comp-search{
    margin-bottom: 60px;
  }
  .text-global-block{
    margin-top: 35px;
    .text-block__title{
      margin-bottom: 30px;
    }
  }
  .text-block__more span{
    font-size: 15px;
  }
  .write_review.open:before {
    top: 100px;
  }
  .write_questions.open:before{
    top: 100px;
  }
  .onwrite-review__blockmob{
    margin-top: 0px;
  }
  .warning-block__right .v-align{
    justify-content: flex-end;
  }
  .warning-block__nav {
    margin-top: 15px;
  }

}
@media screen and (device-width: 992px) {
  .mobfilter_3 .range-width {
    width: 797px;
  }
  .adhd {
    display: none;
  }
  #header-min-item.resp-header{
    .soc-mobile{
      margin-top: 0px;
    }
  }
  .mobhb {
    display: block;
  }
  .hide_block{
    display: block;
  }
  .text-block__ad-fixed{
    width: 100%;
  }
}
@media screen and (device-width: 1200px) {
  .reviews-rating__progress .v-align {
    width: 480px;
  }
}
