<template>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9 col-xl-7">
        <div class="card-header px-0 mt-2 bg-transparent clearfix">
          <h4 class="float-left pt-2">
            Смена пароля
          </h4>
          <div class="card-header-actions mr-1">
            <a
              class="btn btn-primary"
              href="#"
              :disabled="submiting"
              @click.prevent="updatePasswordAuthUser"
            >
              <i
                v-if="submiting"
                class="fas fa-spinner fa-spin"
              />
              <i
                v-else
                class="fas fa-check"
              />
              <span class="ml-1">Сохранить</span>
            </a>
          </div>
        </div>
        <div class="card-body px-0">
          <form class="form-horizontal">
            <div class="form-group row justify-content-md-center">
              <label class="col-md-3">Текущий пароль</label>
              <div class="col-md-9">
                <input
                  v-model="password.current"
                  class="form-control"
                  :class="{'is-invalid': errors.current}"
                  type="password"
                >
                <small class="form-text text-muted">Вы должны ввести свой текущий пароль, чтобы его изменить</small>
                <div
                  v-if="errors.current"
                  class="invalid-feedback"
                >
                  {{ errors.current[0] }}
                </div>
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <label class="col-md-3">Новый пароль</label>
              <div class="col-md-9">
                <input
                  v-model="password.password"
                  class="form-control"
                  :class="{'is-invalid': errors.password}"
                  type="password"
                >
                <div
                  v-if="errors.password"
                  class="invalid-feedback"
                >
                  {{ errors.password[0] }}
                </div>
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <label class="col-md-3">Повторите новый пароль</label>
              <div class="col-md-9">
                <input
                  v-model="password.password_confirmation"
                  class="form-control"
                  :class="{'is-invalid': errors.password_confirmation}"
                  type="password"
                >
                <div
                  v-if="errors.password_confirmation"
                  class="invalid-feedback"
                >
                  {{ errors.password_confirmation[0] }}
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      password: {},
      errors: {},
      submiting: false
    }
  },
  methods: {
    updatePasswordAuthUser () {
      if (!this.submiting) {
        this.submiting = true
        axios.put(`/api/cabinet/profile/updatePasswordAuthUser`, this.password)
        .then(response => {
          this.password = {}
          this.errors = {}
          this.submiting = false
          this.$toasted.global.error('Password changed!');
        })
        .catch(error => {
          this.errors = error.response.data.errors
          this.submiting = false
        })
      }
    }
  }
}
</script>
