<template>
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-9 col-xl-7">
        <div class="card-header px-0 mt-2 bg-transparent clearfix">
          <h4 class="float-left pt-2">
            Редактирование профиля
          </h4>
        </div>
        <div class="card-body px-0">
          <form
            v-if="!loading"
            class="form-horizontal"
          >
            <div class="form-group row justify-content-md-center">
              <div class="col-md-3">
                Аватар
              </div>
              <div class="col-md-9">
                <small class="form-text text-muted mb-3">Вы можете сменить или удалить Ваш аватар</small>
                <avatar :user="user" />
              </div>
            </div>
            <hr class="my-3">
            <div class="form-group row justify-content-md-center">
              <label class="col-md-3">Ваше Имя</label>
              <div class="col-md-9">
                <input
                  v-model="user.name"
                  class="form-control"
                  :class="{'is-invalid': errors.name}"
                  type="text"
                >
                <small class="form-text text-muted">Введите свое имя, чтобы быть узнаваемым</small>
                <div
                  v-if="errors.name"
                  class="invalid-feedback"
                >
                  {{ errors.name[0] }}
                </div>
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <label class="col-md-3">Ваша фамилия</label>
              <div class="col-md-9">
                <input
                  v-model="user.last_name"
                  class="form-control"
                  :class="{'is-invalid': errors.last_name}"
                  type="text"
                >
                <small class="form-text text-muted"></small>
                <div
                  v-if="errors.last_name"
                  class="invalid-feedback"
                >
                  {{ errors.last_name[0] }}
                </div>
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <label class="col-md-3">Город</label>
              <div class="col-md-9">
                <input
                  v-model="user.city"
                  class="form-control"
                  :class="{'is-invalid': errors.city}"
                  type="text"
                >
                <small class="form-text text-muted"></small>
                <div
                  v-if="errors.city"
                  class="invalid-feedback"
                >
                  {{ errors.city[0] }}
                </div>
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <label class="col-md-3">Телефон</label>
              <div class="col-md-9">
                <input
                  v-model="user.phone"
                  class="form-control"
                  :class="{'is-invalid': errors.phone}"
                  type="text"
                >
                <small class="form-text text-muted"></small>
                <div
                  v-if="errors.phone"
                  class="invalid-feedback"
                >
                  {{ errors.phone[0] }}
                </div>
              </div>
            </div>
            <div class="form-group row justify-content-md-center">
              <label class="col-md-3">Email</label>
              <div class="col-md-9">
                <input
                  v-model="user.email"
                  class="form-control"
                  :class="{'is-invalid': errors.email}"
                  type="email"
                >
                <small class="form-text text-muted">Ваша почта не будет отображаться на сайте.</small>
                <div
                  v-if="errors.email"
                  class="invalid-feedback"
                >
                  {{ errors.email[0] }}
                </div>
              </div>
            </div>
          </form>
          <div
            v-else
            class="row justify-content-md-center"
          >
            <div class="col-md-12">
              <content-placeholders>
                <content-placeholders-heading :img="true" />
                <content-placeholders-text />
              </content-placeholders>
            </div>
          </div>
        </div>

        <div class="card-header-actions mr-1">
          <a
                  class="btn btn-primary"
                  href="#"
                  :disabled="submiting"
                  @click.prevent="updateAuthUser"
          >
            <i
                    v-if="submiting"
                    class="fas fa-spinner fa-spin"
            />
            <i
                    v-else
                    class="fas fa-check"
            />
            <span class="ml-1">Сохранить</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import avatar from './Avatar.vue'

export default {
  components: {
    avatar
  },
  data () {
    return {
      user: {},
      errors: {},
      loading: true,
      submiting: false
    }
  },
  mounted () {
    this.getAuthUser()
  },
  methods: {
    getAuthUser () {
      this.loading = true
      axios.get(`/api/cabinet/profile/getAuthUser`)
      .then(response => {
        this.user = response.data
        this.loading = false
      })
    },
    updateAuthUser () {
      if (!this.submiting) {
        this.submiting = true
        axios.put(`/api/cabinet/profile/updateAuthUser`, this.user)
        .then(response => {
          this.errors = {}
          this.submiting = false
          this.$toasted.global.error('Profile updated!');
        })
        .catch(error => {
          this.errors = error.response.data.errors
          this.submiting = false
        })
      }
    }
  }
}
</script>
