<template>
  <a-layout :style="{ minHeight: '100%' }">
    <a-layout-content :style="{ margin: '24px 16px', padding: '24px', background: '#fff' }">
      <b-alert
        :show="alert"
        variant="danger"
        dismissible
      >
        <template v-for="error in errors">
          <template v-for="message in error">
            {{ message }}<br>
          </template>
        </template>
      </b-alert>
      <a-tabs>
        <a-tab-pane
          key="1"
          tab="Основная информация"
        >
          <a-form layout="vertical">
            <br>
            <a-form-item
              label="Компания"
              :validate-status="errors.name ? 'error' : ''"
              :help="errors.name ? errors.name[0] : ''"
            >
              <input-autocomplete
                v-model="event.company"
                :url="'/api/cabinet/company/search/'"
              />
            </a-form-item>

            <a-form-item
              label="Название"
              :validate-status="errors.name ? 'error' : ''"
              :help="errors.name ? errors.name[0] : ''"
            >
              <a-input
                v-model="event.name"
                placeholder="Скидки на роллы в Якитории"
              />
            </a-form-item>

            <a-form-item
              label="Краткое описание"
              :validate-status="errors.summary ? 'error' : ''"
              :help="errors.summary ? errors.summary[0] : 'Для перевода каретки на новую строку нажмите Shift+Enter'"
            >
              <a-textarea
                id="summary"
                v-model="event.summary"
              />
            </a-form-item>

            <a-form-item
              label="Полное описание"
              :validate-status="errors.about ? 'error' : ''"
              :help="errors.about ? errors.about[0] : 'Для перевода каретки на новую строку нажмите Shift+Enter'"
            >
              <a-textarea
                id="about"
                v-model="event.about"
              />
            </a-form-item>

            <a-form-item
              label="Время проведения"
            >
              <a-range-picker v-model="range" />
            </a-form-item>

            <a-form-item
              label="Категории"
            >
              <select-event-categories v-model="event.categories" />
            </a-form-item>
          </a-form>
        </a-tab-pane>
        <a-tab-pane
          key="3"
          tab="Галерея"
        >
          <a-form layout="vertical">
            <br>

            <a-form-item
              label="Превью"
            >
              <image-upload
                v-model="event.image"
                :width="285"
                :height="200"
              />
            </a-form-item>

            <a-form-item
              label="Фон"
            >
              <image-upload
                v-model="event.background"
                :width="1440"
                :height="750"
              />
            </a-form-item>

            <a-form-item
              label="Медиагалерея"
            >
              <gallery-index v-model="event.gallery_items" />
            </a-form-item>
          </a-form>
        </a-tab-pane>
        <a-tab-pane
          key="4"
          tab="Статус"
        >
          <a-form layout="vertical">
            <br>
            <a-form-item
              label="Активен"
            >
              <a-switch
                v-model="event.active"
              />
            </a-form-item>
          </a-form>
        </a-tab-pane>
        <a-tab-pane
          key="5"
          tab="Адреса проведения"
        >
          <a-form layout="vertical">
            <br>
            <event-addresses-index
              v-model="event.addresses"
              :all="event.company.addresses"
            />
          </a-form>
        </a-tab-pane>
        <div slot="tabBarExtraContent">
          <a-button
            v-if="event.id"
            type="danger"
            :disabled="loading"
            @click="destroy"
          >
            Удалить
          </a-button>
          <a-button
            :disabled="loading"
            @click="event.id ? update() : create()"
          >
            Сохранить
          </a-button>
        </div>
      </a-tabs>
    </a-layout-content>
    <a-modal
      v-model="eventCreatedModal"
      title="Информация"
      @ok="redirect"
    >
      <p style="text-align: center;">
        Спасибо за размещение вашего события на нашем портале. После проверки всей необходимой информации модератором, ваше событие будет сразу опубликовано.
      </p>
    </a-modal>
  </a-layout>
</template>
<script>
    import moment from 'moment';

    let str = window.location.pathname
    let res = str.split("/")

    export default {
        data() {
            return {
                event: {
                    gallery_items: [],
                    company: {
                        slug: undefined,
                        addresses: []
                    },
                    addresses: [],
                    categories: [],
                    labels: [],
                    favorite: false,
                    published: true,
                    rejected: false,
                    active: true
                },
                errors: {},
                loading: false,
                alert: false,
                eventCreatedModal: false
            };
        },
        computed: {
            range: {
                get: function () {
                    return [
                        moment.utc(this.event.start),
                        moment.utc(this.event.end)
                    ]
                },
                set: function (value) {
                    this.event.start = value[0].format('YYYY-MM-DD HH:mm:ss')
                    this.event.end = value[1].format('YYYY-MM-DD HH:mm:ss')
                }
            }
        },
        watch: {
            errors: function (val) {
                this.alert = Object.keys(val).length > 0
            },
            'event.company.slug': function (val, old) {
                if (val !== old) {
                    this.fetchCompany()
                }
                if (old !== undefined) {
                    this.event.addresses = []
                }
            }
        },
        mounted() {
            if (res[4] === 'edit') {
                this.fetch()
            }
        },
        methods: {
            fetch() {
                if (!this.loading) {
                    this.loading = true
                    const message = this.$message.loading('Загрузка данных', 0)
                    axios.get(`/api/cabinet/event/${res[3]}`)
                        .then(response => {
                            this.event = response.data
                        })
                        .catch(error => {
                            this.$message.error('Ошибка')
                        })
                        .then(() => {
                            setTimeout(message, 0)
                            this.loading = false
                        })
                }
            },
            update() {
                if (!this.loading) {
                    this.loading = true
                    const message = this.$message.loading('Сохранение', 0)
                    axios.put(`/api/cabinet/event/${this.event.slug}`, this.event)
                        .then(response => {
                            this.errors = {}
                            this.event = response.data
                            this.$message.success('Успешно сохранено!')
                        })
                        .catch(error => {
                            this.$message.error('Ошибка')
                            this.errors = error.response.data.errors
                        })
                        .then(() => {
                            setTimeout(message, 0)
                            this.loading = false
                        })
                }
            },
            create() {
                if (!this.loading) {
                    this.loading = true
                    const message = this.$message.loading('Сохранение', 0)
                    axios.post(`/api/cabinet/event`, this.event)
                        .then(response => {
                            this.eventCreatedModal = true
                            this.errors = {}
                            this.event = response.data
                            this.$message.success('Успешно сохранено!')
                        })
                        .catch(error => {
                            this.$message.error('Ошибка')
                            this.errors = error.response.data.errors
                        })
                        .then(() => {
                            setTimeout(message, 0)
                            this.loading = false
                        })
                }
            },
            destroy() {
                if (!this.loading) {
                    this.loading = true
                    const message = this.$message.loading('Сохранение', 0)
                    swal({
                        title: "Вы уверены?",
                        text: "Это необратимый процесс!",
                        icon: "warning",
                        buttons: true,
                        dangerMode: true,
                    })
                        .then((willDelete) => {
                            if (willDelete) {
                                axios.delete(`/api/cabinet/event/${this.event.slug}`)
                                    .then(response => {
                                        location.replace(`/cabinet/event`)
                                    })
                                    .catch(error => {
                                        this.errors = error.response.data.errors
                                    })
                            }
                        })
                        .then(() => {
                            setTimeout(message, 0)
                            this.loading = false
                        })
                }
            },
            fetchCompany() {
                if (!this.loading) {
                    this.loading = true
                    const message = this.$message.loading('Загрузка данных', 0)
                    axios.get(`/api/cabinet/company/${this.event.company.slug}`)
                        .then(response => {
                            this.event.company = response.data
                        })
                        .catch(error => {
                            this.$message.error('Ошибка')
                        })
                        .then(() => {
                            setTimeout(message, 0)
                            this.loading = false
                        })
                }
            },
            redirect() {
                location.href = `/cabinet/event`
            }
        }
    };
</script>

<style scoped>
</style>
