<template>
    <a-layout :style="{ minHeight: '100%' }">
        <a-layout-content :style="{ margin: '24px 16px', padding: '24px', background: '#fff', minHeight: '100%' }">
            <div :style="{ marginBottom: '24px', display: 'flex', justifyContent: 'space-between' }">
                <h4>Ответы на отзывы</h4>
            </div>
            <a-table
                    :columns="columns"
                    :data-source="data"
                    :scroll="{ x: 1300 }"
                    size="small"
                    :pagination="false"
            >
                <div
                        slot="published"
                        slot-scope="text, record"
                >
                    <a
                            href="#"
                            @click.prevent="toggle(record.id)"
                    >
                        <a-icon
                                v-if="record.published"
                                type="check-circle"
                                style="margin-right: 15px;"
                        />
                        <a-icon
                                v-else
                                type="close-circle"
                                style="margin-right: 15px;"
                        />
                    </a>
                </div>
                <div
                        slot="action"
                        slot-scope="text, record"
                >
                    <a
                            href="#"
                            @click.prevent="destroy(record.id)"
                    >
                        <a-icon type="delete"/>
                    </a>
                </div>
            </a-table>
            <br>
            <a-pagination
                    v-model="filters.pagination.current_page"
                    :style="{ float: 'right' }"
                    :total="filters.pagination.total"
                    :page-size-options="['25', '50', '100', '200']"
                    show-size-changer
                    :page-size.sync="filters.pagination.per_page"
                    show-quick-jumper
                    @change="changeCurrentPage"
                    @showSizeChange="changeShowSizeChange"
            />
        </a-layout-content>
    </a-layout>
</template>
<script>
    const columns = [
        {title: 'ID', dataIndex: 'id', key: 'id'},
        {title: 'Автор', dataIndex: 'user.name', key: 'user.name'},
        {title: 'Текст', dataIndex: 'text', key: 'text'},
        {
            title: 'Опубликован',
            key: 'published',
            scopedSlots: {customRender: 'published'},
        },
        {
            key: 'operation',
            fixed: 'right',
            width: 100,
            scopedSlots: {customRender: 'action'},
        },
    ];

    export default {
        data() {
            return {
                columns,
                data: [],
                filters: {
                    pagination: {
                        from: 0,
                        to: 0,
                        total: 0,
                        per_page: 25,
                        current_page: 1,
                        last_page: 0
                    },
                    orderBy: {
                        column: 'id',
                        direction: 'asc'
                    },
                    search: ''
                },
            }
        },
        mounted() {
            if (localStorage.getItem("filtersTableCommentAnswers")) {
                this.filters = JSON.parse(localStorage.getItem("filtersTableCommentAnswers"))
            } else {
                localStorage.setItem("filtersTableCommentAnswers", this.filters);
            }
            this.fetchData()
        },
        methods: {
            fetchData() {
                this.data = []

                localStorage.setItem("filtersTableCommentAnswers", JSON.stringify(this.filters));

                axios.post(`/api/backend/comment/answer/filter?page=${this.filters.pagination.current_page}`, this.filters)
                    .then(response => {
                        this.data = response.data.data
                        delete response.data.data
                        this.filters.pagination = response.data
                        this.loading = false
                    })
            },
            changeCurrentPage(currentPage) {
                this.filters.pagination.current_page = currentPage
                this.fetchData()
            },
            changeShowSizeChange(currentPage, perPage) {
                this.filters.pagination.current_page = currentPage
                this.filters.pagination.per_page = perPage
                this.fetchData()
            },
            destroy(id) {
                swal({
                    title: "Вы уверены?",
                    text: "Это необратимый процесс!",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willDelete) => {
                        if (willDelete) {
                            axios.delete(`/api/backend/comment/answer/${id}`)
                                .then(response => {
                                    location.reload()
                                })
                                .catch(error => {
                                    this.$message.error('Ошибка')
                                })
                        }
                    })
            },
            toggle(id) {
                axios.post(`/api/backend/comment/answer/${id}/toggle`)
                    .then(response => {
                        location.reload()
                    })
                    .catch(error => {
                        this.$message.error('Ошибка')
                    })
            }
        },
    }
</script>

<style scoped>

</style>
